[2016-06-14 13:15] kiranatious commented on #493
@blacktrash
Sorry my bad, was working on the sample page, you should be able to reproduce it now.

<img width="327" alt="screen shot 2016-06-14 at 6 43 54 pm" src="https://cloud.githubusercontent.com/assets/4735456/16044011/32a210fa-3260-11e6-9b21-95bd56ddfa86.png">

[2016-06-14 13:44] mangui commented on #493
Hi @kiranatious is your sample page against hls.js/master or hls.js/v0.5.x ?
i checked locally and can't repro with v0.5.x branch
while checking your stream, i can see that some fragments are not starting with keyframes. this is the case for the second loaded fragment:
[code]
first keyframe is found 2s after the beginning of the fragment. as we are switching level, we don't know the previous keyfr

[2016-06-14 13:57] mangui commented on #498
Hi @Webini ok understood.
you should escape it according to https://www.ietf.org/rfc/rfc1738.txt

[code]

[2016-06-14 14:10] mangui commented on #496
when the fragment ArrayBuffer is posted to the demuxer worker as a transferable object, it is 'neutered', meaning that the main thread is not owning it anymore, and thus is not able to touch it (anymore)

maybe your monkey-patched XHR is trying to access or reuse it although it already lost the ownership ?

[2016-06-14 14:12] mangui commented on #495
@deonio plz expose a reduced test case with a playlist if you are expecting some help.

[2016-06-14 14:15] chrisprobst commented on #496
I solved it in the meantime, sry. I forgot to close this issue.

But you nailed it, the XHR.response was hit twice BY hls.js, but the first time it was neutered. So I worked around this issue by always returning a copy of the ArrayBuffer when calling XHR.response (In my monkey patched version).

It works now, but I'm not sure, if hls.js is aware that XHR.response might return the identical ArrayBu

[2016-06-14 15:10] shaibam opened #501 "why is fragLoadError is not fatal"
In the previous hls.js version, fragLoadError was considered a fatal error.
in this version it isn't.
thus making the video freeze on 404 responses.
why?

[2016-06-14 15:23] mangui commented on #501
Hi @shaibam
error is triggered as fatal after max nb of retries is reached.

[2016-06-14 15:27] mangui commented on #501
if not plz share a log, as I can see fatal fragLoadError with v0.5.36

[2016-06-14 15:29] lletourn opened #502 "Load video and start playback at a given position"
Is there a way to start the m3u8 file at a specific position without having to load the first fragments?

If the code waits for video is seekable, the first few fragments have already been downloaded.

If startAutoLoad is disabled, then video is not seekable (and seeking doesn't work) until it's called. And when it's called, again it loads the first few fragments first.

Thank you I'm working with

[2016-06-14 15:35] mangui commented on #502
there is a default arg to hls.startLoad(startPosition) which could be used for that purpose
see https://github.com/dailymotion/hls.js/blob/v0.5.x/src/hls.js#L182

you just need to set autoStartLoad to false in the config, then manually invoke hls.startLoad(startPosition) on MANIFEST_PARSED

[2016-06-14 15:46] lletourn commented on #502
geez how'd I miss that. Thanks a lot.

[2016-06-14 15:46] #502 closed

[2016-06-14 20:20] widestreamio opened #503 "Cant stream with adobe media live encoder on hls.js based players"
I'm using wowza (paid) and I have my server fully configurated.
But a problem shows up :(
I can't stream with adobe media live encoder on hls.js players, but works fine on flashhls...
Working fine on jwplayer, flowplayer, videojs - flash ones, but not on the one i'm using, clappr, that uses hls.js.

Can this be some codecs problem? Some possible solution?
My config:
http://i.imgur.com/WQZLbfy.png

[2016-06-14 20:38] dhassoun commented on #503
From windows it doesn’t support aac audio which is required without a paid
additional plugin

[2016-06-14 20:44] widestreamio commented on #503
hum, so, i dont have an option, should I change to another player?

[2016-06-14 20:58] dhassoun commented on #503
You can get the plugin for FMLE for AAC or use a different encoder.
Otherwise you have to stick with something like flash vs js for the
playback as it doesn’t currently support the MP3 audio codec at least for
now as I understand, or you could use the transcoder plugin for Wowza to
covert to AAC I suppose. It would be less cpu than a normal video transcode
since its just audio I believe.

[2016-06-14 21:03] widestreamio commented on #503
Actually I'm transcoding.
http://i.imgur.com/qliPtz2.png
http://i.imgur.com/zdj0MTz.png

PS. This will be a public service, i cant tell the people that they need to buy the plugin...

[2016-06-15 01:27] Webini commented on #498
OK, thanks for the answer

[2016-06-15 06:23] kiranatious commented on #493
If i directly pull the HLS JS from http://dailymotion.github.io/hls.js/dist/hls.js the video skips from 9 sec to 12 sec

However if i download the latest zip from Github and reference to dist it have the green scramble issue.

[2016-06-15 07:51] shaibam commented on #501
what is the number of retries and is it configurable?

[2016-06-15 08:00] mangui commented on #501
mmm RTFM ...

[2016-06-15 09:31] chjcken commented on #493
the hls.js file from dist folder in master branch is old (last update is nearly a month ago)

if you want to use hls.js ver 0.6.x you have to transpile it from source

here is direction: https://github.com/dailymotion/hls.js#contributing

[2016-06-15 10:31] kasrinat commented on #493
I have seen the time skipping happen in Flash HDS. This can mainly be attributed to a direct switch up from a lower index to a much higher index. The time it takes to download and render the second segment gets tagged on to the netStream time. This results in a time skip of 2-3 secs.

Even in the above AMP player link, I am seeing the switch from index 1 to 3 on the second segment in Chrome. This

[2016-06-15 10:50] kasrinat commented on #493
@mangui 's assessment regarding keyframes makes sense. There is no video keyframe in the second segment until 2 secs in. This could be causing the skipping.

[2016-06-15 16:31] widestreamio commented on #503
@dhassoun Do you know about nimble? it looks amazing. https://wmspanel.com/nimble
I will give it a try, and if the transcoder works, I post the resolution here.

[2016-06-15 16:57] JHartman5 commented on #484
Ok, I've found a way to reproduce some odd behavior:

M3U8 URL:
[https://dev-assets.boxcast.com/misc/issues/hlsjs-issues-484/live.m3u8](https://dev-assets.boxcast.com/misc/issues/hlsjs-issues-484/live.m3u8)

Demo page URL:
[http://dailymotion.github.io/hls.js/demo/?src=https%3A%2F%2Fdev-assets.boxcast.com%2Fmisc%2Fissues%2Fhlsjs-issues-484%2Flive.m3u8&enableStreaming=true&autoRecoverError=false&en

[2016-06-15 17:29] frank72833 commented on #494
I have manage to replicate this issue consistently using your demo website (http://dailymotion.github.io/hls.js/demo/).

In order to replicate this please follow these steps:

1. Use the following playlist: https://pjch92otb8.execute-api.eu-west-1.amazonaws.com/prod/chunklist.m3u8?streamId=fran-720p&startTime=0&endTime=1965982734542

2. As you can see in the playlist. There is a discontinuity in t

[2016-06-16 13:38] #498 closed

[2016-06-16 13:42] mangui commented on #496
I understand your point about 2 HTTP requests on the same URL returning the same XHR.response.
according to the [spec](https://xhr.spec.whatwg.org/#arraybuffer-response), I would assume that a new object is returned for each XHR

[2016-06-16 15:56] mangui commented on #494
Hi @frank72833 I don't observe this behaviour on Chrome/OSX, only in Firefox.
could you confirm you also observe different results ?

[2016-06-16 16:06] mangui commented on #491
Hi @leandromoreira
it is not intentional, just not implemented :-)
a good place to force a manifest reload on `hls.startLoad()` would be in `levelController.startLoad()`:

[code]

PR welcome

[2016-06-16 16:06] frank72833 commented on #494
Hi @mangui I experience this issue in MacOS X (El Capitan) Chrome version 51.0.2704.84 (64-bit). Please let me know if you want me to provide some screenshots/video.

Thanks!

[2016-06-16 16:09] mangui commented on #479
the issue seems to be that sourcebuffers of the previous stream are not destroyed
if you want to reuse the same instance, you might need to detachMedia()/attachMedia() beforehand.
the other option is to reinstantiate a new Hls object

[2016-06-16 16:26] leandromoreira commented on #491
Thanks @mangui

[2016-06-16 20:23] ale-grosselle opened #508 "Id3 Metadata not only at the beginning but also inside the package"
Hi @mangui,
great job, compliments!

I have this problem:
Inside of my fragments I can have ID3 metadata not only at the beginning, but,FRAG_PARSING_METADATA event send me only only metadata places at the beginning of the fragment.
Is possible to have all id3?

I attach an example of a fragment:

[media-uwec0n8z2_6455.zip](https://github.com/dailymotion/hls.js/files/319250/media-uwec0n8z2_6455.zip

[2016-06-17 03:04] shacharz opened #509 "Support new fragmented MP4 streams"
Following (wwdc16 announcement)[https://developer.apple.com/videos/play/wwdc2016/504/] HLS will now support fMP4 as well.

Test vectors:
- [ ] https://developer.apple.com/streaming/examples/advanced-stream-fmp4.html

[2016-06-17 03:07] shacharz opened #510 "Support new common encryption"
Following (wwdc16 announcement)[https://developer.apple.com/videos/play/wwdc2016/504/] HLS will now support common encryption as well.

[2016-06-17 07:43] pyke369 commented on #510
Please beware that Apple will mandate the cbcs encryption scheme (AES-CBC) whereas DASH-264 content usually use AES-CTR (ISO/IEC 23001-7:2015 CENC v2 added AES-CBC as a possibility).

[2016-06-17 18:59] lightninglu10 opened #511 "HLS.JS CRASHING with our HLS stream"
Hey guys,

We have a stream at https://d3miybd7lvz8ah.cloudfront.net/live/76231af352984ddc863f5b511e8c1a1d.m3u8

Which is a live stream and it seems to be crashing with HLS.JS. We're using Flowplayer, and if we remove the plugin, the video plays fine and doesn't crash.

If we keep the plugin (and also on the dailymotion demo site), the whole browser will crash.

Any insights here? Are we configuri

[2016-06-17 21:57] cpeterso commented on #511
Which plugin is this? So Flowplayer with HLS.js crashes the browser but Flowplayer without HLS.js plays correctly?

What browser and operating system are you using?

[2016-06-17 21:59] lightninglu10 commented on #511
HLS.JS Flowplayer plugin. And yeah Flowplayer without HLS.js is fine, but with the plugin, then the browser crashes.

Browser is Google Chrome Version 51.0.2704.84 (64-bit)
And I'm on macosx 10.11.5 (15F34).

We're feeding our own stream into the player so I can provide more details about our streaming too.

[2016-06-17 22:01] cpeterso commented on #511
I can't play [your m3u8 on the Dailymotion demo site](http://dailymotion.github.io/hls.js/demo/?src=https%3A%2F%2Fd3miybd7lvz8ah.cloudfront.net%2Flive%2F76231af352984ddc863f5b511e8c1a1d.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined) because I get a CORS error in Firefox:

HTTP response code:0
this might be a CORS issue, consider insta

[2016-06-17 22:02] lightninglu10 commented on #511
Hey cpeterso, I just stopped streaming. Will put it back up in a sec.

[2016-06-17 22:04] lightninglu10 commented on #511
Stream is back up.

[2016-06-17 22:34] lightninglu10 commented on #511
Any updates on this? We need to iterate on our streaming process and I want to know if it's okay to take constantly take it down and put it back up.

[2016-06-18 11:59] blacktrash commented on #511
@lightninglu10 - the stream is now down again, please keep it running for debugging.
However, the errors observed by @cpeterso are happening when the stream _is_ running.
This is in tune with what I observed outside hls.js:
---
$ time ffprobe -v warning http://d3miybd7lvz8ah.cloudfront.net/live/76231af352984ddc863f5b511e8c1a1d.m3u8
skipping 3 segments ahead, expired from playlists
skipping 5 segme

[2016-06-19 11:44] ale-grosselle commented on #508
Just to give more information: As you can see inspecting the single attachment fragment above, we use (only) audio live streaming. May be It the cause of the problem to receive only the metadata present at the beginning?

[2016-06-19 19:43] rkurbatov opened #513 "Stream subtitles problem"
Hi. We have a stream with builtin subtitles which are working in jwPlayer but aren't in videojs with HLS.js attached. How can I detect the type of subtitles that stream has?

[code]

Here is how master.m3u8 link looks like.

[2016-06-20 09:39] gamtiq opened #514 "A small typo in README"
There is a small typo in `README.md`:

[2016-06-20 19:20] mangui commented on #508
Hi @ale-grosselle indeed when using AAC container only ID3 tags located at the beginning of the stream are parsed.
but only to retrieve the start pts of this fragment.
refer to https://github.com/dailymotion/hls.js/blob/master/src/demux/aacdemuxer.js#L37

it should be feasible to detect and expose all tags by adjusting the logic in aacdemuxer and id3 parser

[2016-06-20 19:22] #514 closed

[2016-06-20 19:24] mangui commented on #511
stream is still unreachable, closing until the issue becomes consistently reproducible.

[2016-06-20 19:24] #511 closed

[2016-06-20 19:26] mangui commented on #509
this is great news, and it should be pretty straightforward to add.
I will start stabilizing master branch next week, then merge alt-audio and PoC it

[2016-06-20 19:27] #496 closed

[2016-06-20 19:28] #499 closed

[2016-06-20 19:28] #381 closed

[2016-06-20 20:54] mangui commented on #98
Hi @blacktrash replay of http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fd12zt1n3pd4xhr.cloudfront.net%2Ffp%2Fenc%2Fnight2-amfs.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined should now be consistent on FF
plz recheck and let me know if anything is still broken on your side.

[2016-06-20 20:58] mangui commented on #513
Hi @rkurbatov
according to https://tools.ietf.org/html/draft-pantos-http-live-streaming-19#section-4.3.4.1
INSTREAM-ID="CC1" means CEA-608 closed captions.
this should be supported, but eventually not displayed, depending on your player setup.

[2016-06-20 21:02] mangui commented on #494
Hi @frank72833 your stream seems down ?

[2016-06-20 21:48] rkurbatov commented on #513
@mangui how can it be enabled? I use default options, so `enableCEA708Captions: true` is set. I put debug points into code and seems like it just can't find any subtitles in *.ts files.

[2016-06-20 22:06] mangui commented on #513
could you share a reduced test case ? basically a stream with a few fragments

[2016-06-20 22:44] ale-grosselle commented on #508
Hi @mangui,
Many Many thanks for the information!
I'm going to try to modify your code to get all the metadata.

I will keep you updated, Thanks so much,
Alessandro

[2016-06-20 23:33] rkurbatov commented on #513
@mangui stream is encrypted, so I created this from fragments:

https://stream.2278.in.ua/pivot.m3u8

[2016-06-21 07:21] featheast opened #515 "MEDIA_ERR_DECODE issue with Mac Chrome for Live Streaming"
Trying to seek some help in regarding the issues I am currently seeing now while using hls.js for live streaming.
The live feed is from a Wowza with 3 qualities. It runs fine on Ubuntu Chrome, but keep getting MEDIA_ERR_DECODE issues with Chrome on Macs. It's pretty random when the issue may occur, and I am calling hls.recoverMediaError(), sometimes the recover works, sometimes it has to recover m

[2016-06-21 07:39] mangui commented on #515
when MEDIA_DECODE_ERROR happens at level switch it is usually because of audio change (AAC to HE-AAC, sampling rate change, nb of audio channel change, ...)
could you disable the webworker on the demo page and provide debug logs from scratch ? disabling web worker will enable more debug logs on audio codecs

[2016-06-21 07:40] featheast commented on #515
To add a few more info, I did looked at issue #401, and I believe our audio codec are the same across all qualities. Besides, #401 is for Firefox, and our playback on Firefox seems to be fine.

[2016-06-21 07:40] featheast commented on #515
@mangui thanks, let me double confirm that.

[2016-06-21 07:56] mangui commented on #513
it works fine on hls.js/master branch
![capture d ecran 2016-06-21 a 09 55 52](https://cloud.githubusercontent.com/assets/1798553/16222044/604f5e64-3796-11e6-8530-d71ec9a95b98.png)

[2016-06-21 09:42] FranklinWaller opened #516 "Flickering/slow playback"
On both desktop and mobile using the latest HLS.js, we see a flickering/slow video playback with this url: http://manifest.us.rtl.nl/rtlxl/v166/network/pc/adaptive/components/financien/rtlz/353976/2016w25/36487af7-907b-3cb0-aed9-c8b7d6c4e336.ssm/36487af7-907b-3cb0-aed9-c8b7d6c4e336.m3u8

while iOS and Quicktime has no problem playing the content.

[2016-06-21 10:24] rkurbatov commented on #513
0.6.1 version isn't working for me due to 'media error'. But if captions were fixed in 0.6.x branch, I'll wait for it stabilization. Thanks.

[2016-06-21 10:36] mangui commented on #516
it looks like there are some issues with your stream.
![capture d ecran 2016-06-21 a 12 32 37](https://cloud.githubusercontent.com/assets/1798553/16226651/c08aaf5c-37ac-11e6-8421-026b4b584d9d.png)

i can see some video samples with PTS < DTS , meaning that these frames should be displayed before being decoded. I will try to see if adding a PTS = Math.max(PTS,DTS) could workaround this.

[2016-06-21 12:34] FranklinWaller commented on #516
Allright, keep us updated

[2016-06-21 13:37] blacktrash commented on #98
Ah, well. http://flowplayer.blacktrash.org/fp6/hlsjs-pure.html (uses hls.js built at d7eb5014970) ... there are the same symptoms as with #476 in (recent) Firefox and `autoStartLoad: false`: does not load first frame, and seeking to 0 in paused state makes it go into loading state.
I presume, from the hls.js perspective this is actually the same problem.

[2016-06-21 13:47] kfeinUI commented on #187
Confirmed. I ran into this as well and had to downgrade webworkify-webpack.

[2016-06-21 13:52] blacktrash commented on #98
@mangui - correction: not the _same_ as #476 - as replay works on a second attempt, and there is no 'background download loop'.

[2016-06-21 14:06] riderodd opened #517 "Frag Loop Loading Error on Edge/IE11"
Hey guys,

I've got a "Frag Loop Loading Error" on some videos, but only in Edge/IE11 (works fine in Chrome). It keeps loading frag 2 & 3 again and again and never plays (stream stops after some seconds). Example here : http://dailymotion.github.io/hls.js/demo/?src=https%3A%2F%2Fsmart.biptv.tv%2Ffiles%2Fmt_575702f014836%2C-360%2C-480%2C-720%2C-1080%2C.mp4.urlset%2Fmaster.m3u8&enableStreaming=true&

[2016-06-21 14:54] mangui commented on #516
@FranklinWaller plz recheck on demo page, hls.js should now be able to workaround this and play the stream smoothly.

[2016-06-21 15:50] mangui commented on #98
@blacktrash initial seek on startup does not happen when video is paused.
this is to avoid poster-image removed (refer to https://github.com/dailymotion/hls.js/issues/377)

[2016-06-21 15:58] mangui commented on #98
maybe we should allow this initial seek in paused state if [video poster attribute](https://www.w3.org/TR/2011/WD-html5-20110113/video.html#attr-video-poster) is not set

[2016-06-21 16:49] jhumbug commented on #513
hey @mangui will you be releasing a tagged version of the player (0.5.x) with the new 608 captions integrated?

[2016-06-21 17:07] riderodd commented on #517
I noticed that in Chrome I get errors in console, but the playback continues. On IE it fails.
Here is the console in chrome:

[code]

[2016-06-21 20:04] rkurbatov commented on #513
I've tried to backport it myself, for the first sight it seems not very difficult. Build is working, but it seems like this line is never executed:
https://github.com/dailymotion/hls.js/blob/master/src/controller/timeline-controller.js#L120

The same for 0.5.x branch, like FRAG_PARSING_USER_DATA event is never fired.

[2016-06-21 20:32] rkurbatov commented on #515
Oh, I had the same error today on 0.6.1 running on Mac Chrome, Linux Chrome runs without it. I may provide logs too if needed.

[2016-06-21 20:39] rkurbatov commented on #513
http://dailymotion.github.io/hls.js/demo/?src=https%3A%2F%2Fstream.2278.in.ua%2Fpivot.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

@mangui I'm trying my stream via this link and can't see CC button. How do you enable it? May be I'm doing something wrong or forgetting about something?

[2016-06-21 20:47] mangui commented on #513
http://dailymotion.github.io/hls.js/demo is v0.5.x branch
i am not planning to backport CEA-608 fix into it.
if you checkout hls.js/master (not v0.6.1, which is outdated) it should perform better

[2016-06-21 23:17] featheast commented on #515
@mangui So I did check out the demo page (http://dailymotion.github.io/hls.js/demo/) and it was running fine from there. Just like @rkurbatov suggested, I found if I revert my version back to 0.5.39 my local testing works fine too, the problem only exists when I am using version 0.6.1. I can't tell what is the version of the demo page is using, but a quick compare of the source it more looks like

[2016-06-22 01:18] blacktrash commented on #98
hm, yes - although there's still a problem *if* poster is set, and you pause and seek to 0 later: loading state.

[2016-06-22 07:21] JuliusThms opened #519 "hls.startLevel setter not taken into account"
Hello Guys,

first of all, thanks for the great project. If there is anything we can help by sponsoring or something like that, let us know.

At fast networks the bandwidth calculation doesn't work correctly, the level will never change to the highest quality. If we limit our router to 5Mbps (e.g.) it plays the highest level.

`
[log] > trigger BUFFER_RESET
hls.js:4 [log] > attachMedia
hls.js:4 [l

[2016-06-22 08:46] momomo commented on #305
Sorry for not being clear enough.

It appears as if on IE 11 or IE > 9, the baseURL is null or empty. I had to change it to use location.SOMEPATH to get around it.

I am not sure why it's null but it is.

Also, would be good to strip out unnecessary libs, such as those for encryption for those not neededing it.

Another fix I had to do was to allow dynamic target duration ability which hls.js does

[2016-06-22 09:05] shaharmor commented on #305
I think sourcemap loading is only if devtools are open

[2016-06-22 15:11] ale-grosselle commented on #508
Hhi @mangui,
I'm trying to get all the ID3 but probably I have some knowledge gap.
Only for testing, I have modified the loop:
https://github.com/dailymotion/hls.js/blob/master/src/demux/id3.js#L48
adding `while (data.length > offset);` instead of ` while (data.length > offset);`

And change these  rows:
https://github.com/dailymotion/hls.js/blob/master/src/demux/id3.js#L36
with `//offset -= 3; le

[2016-06-23 07:28] FranklinWaller commented on #516
@mangui Looks good, thanks alot!

[2016-06-23 09:34] AxelDelmas opened #520 "Hls.version disappeared from 0.5.x ?"
I see the getter version is still in master https://github.com/dailymotion/hls.js/blob/master/src/hls.js#L27-L30 , but seems to have disappeared from the 0.5.x branch.
Has it been removed on purpose?

[2016-06-23 09:44] mangui commented on #520
Hi @AxelDelmas
AFAIK Hls.version was never merged on v0.5.x

[2016-06-23 11:51] mangui commented on #305
Hi @momomo i am not clear with your issue description, apart that it might be related to URLHelper.buildAbsoluteURL()

best would be to provide a reduced test case highlighting it
see https://github.com/dailymotion/hls.js/blob/master/tests/unit/utils/url.js#L10 for eg

[2016-06-23 12:50] blacktrash commented on #476
@mangui - I managed to create a stream where:
- the start times are close
- there is no functional problem at startup, but the first frame does not show (like in other browsers)
- seeking to 0 in paused state makes the player into permanent loading state (but without fragLoopLoadingError)
See: http://flowplayer.blacktrash.org/fp6/hlsjs-pausedseek0.html - start playback, then click stop.

[code]
Is

[2016-06-23 12:50] kanongil commented on #502
This has limited usage options, as you don't know what type of stream it is (live / VOD) or the duration of the content.

[2016-06-23 13:06] kanongil commented on #284
While hls.js can play content from `EVENT` playlists, the implementation is limited due to:

1. Seeking requires a that `liveMaxLatency` is infinite and can still fail. Eg. on my stream it refuses to seek to `0`, as the first fragment PTS is `0.036`. This case is only handled for VOD content.
1. The stream does not use `EXT-X-START:TIME-OFFSET=x` to set initial playback position but always starts

[2016-06-23 14:38] mangui commented on #517
Hi @riderodd plz recheck on latest v0.5.x, issue should be fixed on Edge.
I am now avoiding the flush of the buffer in case of buffer full error (QuotaExceededError) reported by sourcebuffers.
I also improved the handling of fragments not starting with KF, generating buffer holes (in your case it was the main reason of the fragLoopLoadingError)

[2016-06-23 14:41] lletourn commented on #502
It actually worked fine for us on VOD. We'll test it on live a bit later.

Thx again
Louis

On Jun 23, 2016 08:50, "Gil Pedersen" <notifications@github.com> wrote:

[2016-06-23 14:45] mangui commented on #519
Hi @JuliusThms
I am not sure to understand.
there are 6 levels in your manifest, indexed from 0 to 5.
and from the logs we can see that you are on level 5 from second fragment onwards ?

[2016-06-23 14:47] mangui commented on #515
yes demo page is usually matching with the latest diff commited on v0.5.x pages
its content is matching with [gh-pages](https://github.com/dailymotion/hls.js/tree/gh-pages) branch

[2016-06-23 14:48] #520 closed

[2016-06-23 15:31] AxelDelmas commented on #520
My bad, I thought it was

[2016-06-24 02:49] momomo commented on #305
@mangui I pasted the code. Search for mo:modified and you can see two changes that I have made to the file. For the first one, this issue it occurs in IE > 10.

[2016-06-24 08:08] mangui commented on #305
your code is referencing
[code]

which are not available in the pasted code

[2016-06-24 10:35] damianmiles opened #522 "Slow Loading of Stream"
I find the stream takes a good 10 seconds plus to load, and sometimes fails, in Chrome and Safari on a Mac, https://fan.vdyo.co/video/details/faa-ep8-mov

We are unsure if we should have other settings in hls.js to improve this.

Thanks

Damian

[2016-06-24 10:39] damianmiles opened #523 "Chrome stops with corrupted screen"
I get an error in Chrome Mac with a corrupted Screen, the error before it stops is

[log] > decrypting by WebCrypto API
app-28f33042ff.js:33 [log] > track:audio,container:audio/mp4,codecs[level/parsed]=[mp4a.40.2/mp4a.40.5]
app-28f33042ff.js:33 [error] > trying to append although a media error occured, flush segment and abort(anonymous function) @ app-28f33042ff.js:33
app-28f33042ff.js:33 [log] >

[2016-06-24 11:03] blacktrash commented on #522
It's better do concentrate on hls.js without the Flowplayer hlsjs plugin here.
Your stream does not work in the sample player http://dailymotion.github.io/hls.js/demo/?src=https%3A%2F%2Ffan.vdyo.co%2Fhls%2Fvideo%2F2000%2Fplay.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined - but that may be because the key is not allowed there - but it

[2016-06-24 11:05] k1ng440 commented on #522
@blacktrash the server is located in Signapure

[2016-06-24 11:13] redannick commented on #440
Finally managed to get back to this. First thing I've done is to try the latest pull from the repo as it stands and everything seems to be working again, so my apologies, I guess this is no longer a problem, or wasn't the problem i thought it was. Thanks for you time :)

[2016-06-24 11:13] #440 closed

[2016-06-24 11:26] momomo commented on #305
sorry, but here are the implementations for those methods:

MoXY.unslash  = function(str, start, end) {
                        return MoXY.uncharacter(str, "/", start, end);
                };

                MoXY.uncharacter = function(str, character, start, end) {
                        if ( start && MoXY.Strings.startsWith(str, character) ) {
                                return MoXY.uncha

[2016-06-24 11:28] blacktrash commented on #522
@k1ng440 - I'm currently in Germany. If that really is the reason, I don't see the problem with the slow startup, by comparison it loads just fine.
From the plugin side you could try setting the hlsjs option `startLevel: 0` to start with the lowest bandwidth. Make sure to use the latest version of the plugin as recommended (aggregated scripts also are not helpful for debugging ;-)).

[2016-06-24 11:34] blacktrash commented on #522
So far I get (non fatal) errors like: `app-28f33042ff.js:33 [error] > trying to append although a media error occured, flush segment and abort` in Chrome. And chrome://media-internals reports a video decode error then.

[2016-06-24 12:26] mkozlov1 opened #524 "Get current playing fragment sequence number"
Hi.

Is it possible to get current playing fragment sequence number?

[2016-06-24 14:16] blacktrash commented on #523
Ermh, same stream at https://fan.vdyo.co/video/details/faa-ep8-mov as for #522 ?

[2016-06-24 14:18] blacktrash commented on #522
afaics, the stream are done by zencoder, do you have a non-encrypted one available which can be used in the hls.js sample player?

[2016-06-24 14:41] damianmiles commented on #522
Hi, this is a non encrypted stream https://fan.vdyo.co/video/details/greatqld-full-mov

[2016-06-24 14:55] damianmiles commented on #522
http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fvdyoencoded.s3.amazonaws.com%2Fvideo%2F47%2F1999_576cf6d41d451%2Fplay.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-06-24 15:33] shanekerr commented on #490
It looks like .width will report 100 for 100% when setting the width attribute to a percent. The obvious method is to not do that. So I guess this is not so much an issue as it is mistaken implementation of the video tag width attribute.

[2016-06-24 15:33] #490 closed

[2016-06-24 15:46] blacktrash commented on #522
Do you get any errors in that stream? I don't so far, also not with the hlsjs plugin in Flowplayer. - As for the slowness, retrieving from S3 (not cloudfront) can also be quite slow.
To work around errors you could set `recover: -1` in the hlsjs plugin config.

[2016-06-25 11:16] zerefel opened #525 "Opera and Firefox will not start playing 'The video could not be loaded...'"
Hello there,

When attempting to play the following playlist (which consists of 3 quality levels, 360p,720p, 1080p)
http://videos.game-leap.com/NyLTWNaEb/NyLTWNaEb.m3u8 on Opera (38.0.2220.31) and Firefox (47.0) I get the following errors in the console:

`[log] > parsed video,PTS:[0.027,10.027],DTS:[0.027/10.027],nb:300`
`[error] > trying to append although a media error occured, flush segment an

[2016-06-25 13:20] tjenkinson commented on #305
@momomo the url helper has changed a bit since the version you have so you might want to try replacing it with the latest version and see if it works.

I think your changes might not be needed anymore.

https://github.com/dailymotion/hls.js/blob/master/src/utils/url.js

[2016-06-25 14:28] k1ng440 opened #526 "restart on error"
hello,
is there anyway to restart the stream if it get "trying to append although a media error occured, flush segment and abort" or other fatal errors?

[2016-06-25 19:11] blacktrash commented on #526
Is this related to #522? - I answered here: https://github.com/dailymotion/hls.js/issues/522#issuecomment-228381854 - the Flowplayer plugin offers the `recover` hlsjs option - https://flowplayer.org/docs/plugins.html#hlsjs-option for your convenience, implementing something like https://github.com/dailymotion/hls.js/blob/master/API.md#error-recovery-sample-code internally for as many times as you

[2016-06-25 19:22] blacktrash commented on #525
Note that the issue is not present on Mac. It's replicable on Windows - did not test Linux yet.
What's weird is that Opera uses a Chrome engine - but maybe that doesn't apply on Windows.

[2016-06-25 19:36] k1ng440 commented on #526
oh sorry. i will close this and lets continue there.

[2016-06-25 19:37] #526 closed

[2016-06-25 19:39] k1ng440 commented on #522
Hello @blacktrash, i have already set recover: -1 but still doesnt work. i will try to upgrade the hlsjs plugin

[2016-06-25 20:20] k1ng440 commented on #501
haha

[2016-06-26 13:44] ewwink opened #528 "Any P2P Demo for HLS live Streaming ?"
Any P2P Demo for HLS live Streaming ?

paid solution for P2P live streaming
- Peer5, have integration with jwplayer, flowplayer, clappr, etc.. save my bandwidth up to 50%
- viblast, not tested yet.

[2016-06-26 13:49] shacharz commented on #528
You want a P2P demo for native hls.js demo  or with a player wrapped around hls.js?

[2016-06-26 15:13] ewwink commented on #528
if available, both is good.

[2016-06-27 07:50] JuliusThms commented on #519
Hi @mangui,

maybe i understood firstLevel or startLevel wrong.
I did some testing and found out that if i'll set an startLevel, the player aborts the auto level detection/switchting.

Is there a way to define an minimum level to be used?

[2016-06-27 15:22] JHartman5 commented on #517
@mangui, can you please try your change with the following m3u8:

https://recordings.boxcast.com/recordings/ukuxchqgynys1bbiti8t/298/310/all.m3u8

There are several fragments here with gaps > maxBufferHole, but there are discontinuities between them, so I wouldn't have expected to see this behavior. Also, it just gets stuck in a frag loop loading error after some time.

[2016-06-27 15:28] JHartman5 commented on #483
@mangui, did you have a chance to try to reproduce this yet?

[2016-06-27 15:29] kfeinUI commented on #309
I seem to have run into this issue too in Chrome 51.0.2704.106 (64-bit) running on Mac OS 10.11.15. A decode error gets thrown and the video element dies. Plays fine in other browsers. Flipping off hardware acceleration in Chrome gets it to play through without issue.

[2016-06-27 15:48] kfeinUI commented on #309
Did some digging through the Chromium bug tracker and found this interesting tidbit from one of their devs that looks to be quite relevant:

https://bugs.chromium.org/p/chromium/issues/detail?id=605537

[2016-06-27 18:51] cpeterso commented on #525
I too was able to play this stream in Firefox on OS X (10.11) but not Windows (10). I was also unable to play this stream in Edge or IE11 on Windows 10.

It sounds like this might be a compatibility issue with the Windows system decoders. Google bundles an H.264 software decoder with Chrome, but not Chromium. I assume that Chromium will use the Windows system decoders, which could explain why Chro

[2016-06-28 07:34] Nicolab commented on #528
+1

[2016-06-28 09:28] paunadeu opened #529 "DRM support"
Hello,
It's any plan to implement a DRM? Our content provider (Mediapro) require it for a sports broadcasting.
BuyDRM, Verimatrix or EZDRM is most used and are welcome.
If any developer can develop this we can speak for sponsor this function.

Regards.

[2016-06-28 10:18] gbentaieb commented on #407
Hi,

I do have the same issue here, with this stream:
http://us-cplus-aka.canal-plus.com/i/1604/07/1173258_154_,200k,400k,800k,1500k,.mp4.csmil/master.m3u8
I have a 3 secondes hole between 0:10 and 0:13:
[log] > parsed audio,PTS:[10.008,20.016],DTS:[10.008/20.016],nb:431
[log] > parsed video,PTS:[13.720,23.688],DTS:[13.640/23.688],nb:159
[log] > main buffered : [0.000488,10.000488][13.640488,20.00

[2016-06-28 12:08] riderodd commented on #517
Well done @mangui , it works now :smile:

[2016-06-28 15:51] ymaheo opened #530 "this.media.paused exception"
Hi,

When you force the level change when no segment is still loaded, you got randomly an exception here :

`this.previouslyPaused = this.media.paused;`

Thanks

[2016-06-28 16:17] gbentaieb commented on #407
Ok, I found what causes the problem:
in tsdemuxer.js, line 358, you are filtering out avc samples.
If you delete the if condition and therefore add all the avc samples, no hole can be observed anymore.
The real problem is that a chunk can start with avc samples without any key frame because the key frame is in the previous chunk. Those samples are then filtered out, which leads to holes in video s

[2016-06-28 16:32] mangui commented on #407
These frames are being filtered only if your new fragment is not contiguous with previous one or if you are switching level.

[2016-06-28 16:35] mangui commented on #407
In case of contiguous frag on same level u should not observe any hole. Plz also note that v0.5.40 has a trick to deal with your case: in case of level switch and if a hole gt than maxBufferHole is detected, frag N-1 will be loaded to be able to get the last keyframe and then frag N will be reloaded and the hole will be filled

[2016-06-28 16:42] DavidVentura commented on #407
Nginx rtmp marks discontinuity and doesn't start on keyframe

On June 28, 2016 1:35:24 PM GMT-03:00, Guillaume du Pontavice <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-29 06:45] sergiyshutov opened #531 "Audio problem/Video problem. Lagz, stucks and other"
Audio problem/video problem?
Problem starts from 00:06:00 - 00:08:00

invalid AAC sample duration
playback not stuck anymore (00:06:26 video lag)

Video file you can download here: https://yadi.sk/i/GUhu7BH-ssGJP

Thanks.

[2016-06-29 07:06] sergiyshutov commented on #531
I forgot. segmenter is ffmpeg, segment files is 10s

[2016-06-29 07:19] normenster opened #532 "Livestream with Sliding window: Issues in Version 0.6.1"
First of all thanks for your great work, you made a lot of people happy :) I think we discovered am small bug in 0.6.1 (never happens in latest 0.5.40). Check our example page:

http://playback.gl-systemhaus.de/player/0.6.1/demo/?src=http://livetvsachsen.mdr.de/i/livetvmdrsachsen_de@106902/master.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=un

[2016-06-29 09:32] blacktrash commented on #476
@mangui - do you want a separate issue for the seek to 0 in paused state?

[2016-06-29 09:54] steve6 opened #533 "Problem with ClosedCaption 608"
Hi @mangui,
we tried to play this url: http://demo.deltatre.it/cc-test/QualityLevels(1400000)/Manifest(video,format=m3u8-aapl).m3u8 with the demo page and in our implementation (all with master version of the plugin) but we can't see the CC button or text.
We have other videos with CC (I can't share them because are geoblocked) but we have the same problem.

This stream is same of the [thred](http

[2016-06-29 14:09] drichards commented on #515
Has this issue actually been resolved? It looks like @featheast managed to work around by reverting to 0.5.x, but that means it's still present in 0.6.1

[2016-06-29 14:29] mangui commented on #519
Hi @JuliusThms
setting hls.startLevel will only force the first loaded fragment rendition, it does not disable auto switching afterwards.

[2016-06-29 14:33] #501 closed

[2016-06-29 14:34] mangui commented on #476
yes plz

[2016-06-29 14:36] mangui commented on #187
@dharFr I would be interested to get your feedback on https://github.com/dailymotion/hls.js/issues/187#issuecomment-224877642 🙏

[2016-06-29 14:40] mangui commented on #524
yes, you need to listen to
[code]

[2016-06-29 14:59] mangui commented on #523
https://fan.vdyo.co/video/details/faa-ep8-mov is working fine on my Chrome/mac with hw acceleration enabled
plz provide a reduced test case, using hls.js demo page with which the issue is consistently reproducible

[2016-06-29 15:00] mangui commented on #532
`cannot Load http://livetvsachsen.mdr.de/i/livetvmdrsachsen_de@106902/master.m3u8
HTTP response code:403
Forbidden,network error ...
`

[2016-06-29 15:01] mangui commented on #531
Hi @sergiyshutov plz share a reduced test case against a known release of hls.js so that i can have a look
thanks

[2016-06-29 15:12] normenster commented on #532
Ah sorry, it's geoblocked. but it should also happen if you use the standard demo stream.

[2016-06-29 15:13] mkozlov1 commented on #524
thanx!

[2016-06-29 15:13] #524 closed

[2016-06-29 15:15] JuliusThms commented on #519
Hi @mangui,

it doesn't work, tried both 0.40 and 0.39.
it gets fired on manifest_parsed.
...
HLs.Events.MANIFEST_PARSED, function () {
              _hlsPlayer.startLevel = 4;
});
...

[log] > trigger BUFFER_RESET
hls.js:4 [log] > attachMedia
hls.js:4 [log] > media source opened
hls.js:4 [log] > manifest loaded,8 level(s) found, first bitrate:171000
hls.js:4 [log] > startLoad
hls.js:4 [log] > dem

[2016-06-29 15:54] mangui commented on #530
Hi @ymaheo do you mean forcing a level change before MEDIA_ATTACHED is triggered ?

[2016-06-29 16:10] mangui commented on #529
Hi @paunadeu

do you mean CENC based DRM support as stated in https://github.com/dailymotion/hls.js/issues/510 ?

[2016-06-29 16:52] #517 closed

[2016-06-29 16:52] JHartman5 commented on #517
@mangui, please see my comment above. Should I open a new issue for this? Your commit to resolve this issue broke my use case.

[2016-06-29 16:59] mangui commented on #517
@JHartman5 checking

[2016-06-29 17:07] ymaheo commented on #530
Probably. I set the level directly after manifest is loaded.

[2016-06-29 17:23] mangui commented on #517
@JHartman5 definitely a regression from https://github.com/dailymotion/hls.js/commit/fe399f9527da42658f4e1862def7c8c293e9b292
a better way to handle this would be that demux/remux will tell to stream controller if video does not start with KF. so that this logic of reloading frag N-1 would only happen in that case.
I will look into it tomorrow

[2016-06-29 17:24] JHartman5 commented on #517
Thanks for checking! 👍

[2016-06-29 17:24] mangui commented on #530
@ymaheo this case should be fixed now on v0.5.x (beware that dist/* is not pushed yet, so you would have to rebuild)

[2016-06-29 17:37] ymaheo commented on #530
Thanks !

*__________________________________________*

*Yoann Maheo*

Tel : 01 42 86 67 73

2016-06-29 19:24 GMT+02:00 Guillaume du Pontavice <notifications@github.com>
:

[2016-06-29 19:25] xlazom00 opened #534 "support #EXT-X-PLAYLIST-TYPE"
https://tools.ietf.org/html/draft-pantos-http-live-streaming-19#section-4.3.3.5

Can we add support for EXT-X-PLAYLIST-TYPE ?
I think it should be easy to add it

#EXT-X-PLAYLIST-TYPE:<EVENT|VOD>

If the EXT-X-PLAYLIST-TYPE value is EVENT, Media Segments can only be
added to the end of the Media Playlist.  If the EXT-X-PLAYLIST-TYPE
value is VOD, the Media Playlist cannot change.

[2016-06-29 19:29] xlazom00 commented on #534
I really miss live stream feature that have end
so variant with EXT-X-PLAYLIST-TYPE:EVENT
that in one moment add EXT-X-ENDLIST

[2016-06-29 22:01] neuman commented on #500
For looping videos, is there any way to force hls.js to download higher levels for fragments it already has low levels for? This is useful for looping over a short video that must start right away, but should eventually reach it's full quality.

[2016-06-29 22:02] neuman opened #535 "Minimum Level For Looping"
For looping videos, is there any way to force hls.js to download higher levels for fragments it already has low levels for? This is useful for looping over a short video that must start right away, but should eventually reach it's full quality.

[2016-06-29 23:43] featheast commented on #515
@drichards I don't think the issue is really resolved, for the time being we are happy with the old version, but eventually we gonna have the need to upgrade.

[2016-06-30 00:38] blacktrash opened #536 "Firefox: seek to 0 in paused state leaves player in loaded state with some streams"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues - migrated from https://github.com/dailymotion/hls.js/issues/476#issuecomment-2280397

[2016-06-30 00:38] blacktrash commented on #476
here you go: https://github.com/dailymotion/hls.js/issues/536

[2016-06-30 04:34] sergiyshutov commented on #531
Can i ask you'r email?

[2016-06-30 05:12] cpeterso commented on #536
I bisected this seeking problem to @jyavenard's fix for [Firefox bug 1243608](https://bugzilla.mozilla.org/show_bug.cgi?id=1243608) in Firefox 47. That was a fix for a stall when seeking *ahead* in videos that have an audio track but only a single frame, which was a regression from the fix for [Firefox bug 1112438](https://bugzilla.mozilla.org/show_bug.cgi?id=1112438) where seeking to 0 didn't wor

[2016-06-30 07:23] paunadeu commented on #529
Hello mangui,
No, I mean a Wowza supported DRM such as BuyDRM, EZDRM	or Verimatrix.
More information on https://www.wowza.com/products/streaming-engine/features/wowza-drm

[2016-06-30 09:29] ronag opened #537 "Doesn't play"
The following stream does not play (but does buffer) at http://dailymotion.github.io/hls.js/demo/:

http://wowza.peer5.com/vod/mp4:cartoon.mp4/chunklist_w1604424378.m3u8

Chrome: Version 51.0.2704.103 (64-bit)
OS: OSX 10.11.4

[2016-06-30 09:30] ronag commented on #537
Works with Chrome: Version 51.0.2704.106 (64-bit)

[2016-06-30 09:30] #537 closed

[2016-06-30 10:01] blacktrash commented on #536
@cpeterso - thanks for the research; indeed already all symptoms point to a bug/regression in FF 47+.

[2016-06-30 10:20] bharathsn0812 opened #538 "Get Realtime Content in Live TV when pause then resumed."
##### Environment
- [ x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x ] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ x ] The issue occurs in the latest reference client on http://dailymotion.gi

[2016-06-30 13:48] chjcken commented on #538
hi @bharathsn0812
I think the actualy behavior you said above is right flow of hls: your video should resume exactly time where it's paused before

and in hls config has some variable to solve your problem: liveMaxLatencyDurationCount or liveMaxLatencyDuration. You should take a look at [this ](https://github.com/dailymotion/hls.js/blob/master/API.md#livemaxlatencydurationcount)for more infomation

[2016-06-30 13:55] dharFr commented on #187
The proposal by @tjenkinson definitely make sense in my opinion.
Updating the `main` property to `./dist/hls.js` in the `package.json` will allow to directly use the built version without any bundler configuration and that's probably a good default behavior.

If a user wants to build _hls.js_ dependency on his own, they're already an advanced user that can live with setting up a non trivial config

[2016-06-30 14:11] tjenkinson commented on #187
@dharFr glad you think the same.

With regards to your second point, the `'lib' folder is in '.gitignore' but not '.npmignore' so it does actually exist in the versions on npm.

[2016-06-30 14:48] mangui commented on #508
indeed, current logic only parses ID3 frames located in the first ID3 tag.
if you want to find following ID3 tags, you need to continue the parsing instead of calling return [here](https://github.com/dailymotion/hls.js/blob/master/src/demux/id3.js#L46)

in order to continue the parsing, you just need to call
`offset++;`
instead

[2016-06-30 14:50] mangui commented on #529
using HLS protocol, BuyDRM, EZDRM or Verimatrix will rely on CENC for MSE/EME enabled browsers
I am even not sure that they are already supporting CENC for HLS

[2016-06-30 14:53] mangui commented on #538
the other option to safely resume live without seeking  to close to live edge is to do
`video.currentTime = video.duration - 3*fragmentDuration; `
fragmentDuration being retrieved from LEVEL_LOADED event , data.details.targetduration

[2016-06-30 15:39] mangui commented on #517
Hi @JHartman5, http://dailymotion.github.io/hls.js/demo/?src=https%3A%2F%2Frecordings.boxcast.com%2Frecordings%2Fukuxchqgynys1bbiti8t%2F298%2F310%2Fall.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined should now play as expected

[2016-06-30 15:46] JHartman5 commented on #517
Works! Thanks! 👍

[2016-06-30 16:04] mangui commented on #536
position 0 is not buffered
`[log] > media buffered : [0.147981,270.010294]`

and Hls.js will only adjust currentTime to nearest/close buffered area if media is expected to play (it is in paused in your case)

=> video stays in seeking state, until you press play again
I guess FF is not able to cope with 147ms gap when seeking to 0 ?

Although adjusting/nudging currentTime to nearest buffered area

[2016-06-30 16:09] dharFr commented on #187
@tjenkinson OK, I didn't know about that (and not sure to understand how that works...).
But that would mean #507 is actually a breaking change and merging it will require a major version bump, right?

[2016-06-30 16:12] mangui commented on #535
Hi @neuman do you mean reloading the beginning of the video with higher quality on looping ?

there is nothing like this available ATM

but you can eventually try to flush the beginning of the buffer once all the video has been successfully loaded:
[code]

this should force hls.js to reload first fragment at adequate quality level.

[2016-06-30 16:23] jyavenard commented on #536
This is not a regression. Quite the opposite, it used to work because of a bug (the initial gap was always skipped regardless of the size of the gap).

Firefox will not skip over gap greater than 125ms; this has always been the case.

If nothing around 0 +-125ms is buffered, then seeking to 0 will not complete.

[2016-06-30 16:23] tjenkinson commented on #187
I don't think it would actually break things because running the built source through browserify/webpack should end up basically being a no-op.

[2016-06-30 17:24] blacktrash commented on #536
With some goodwill ;-) I can see that the start times differ up to 148ms for this stream, but only between streams, not tracks of 1 stream (48ms max): https://github.com/dailymotion/hls.js/issues/476#issuecomment-228039734
However some concerns may be in order:
- why does the behaviour _always_ differ from other browsers in Firefox when seeking to 0 in paused state? i.e. black 'frame' (?) instead

[2016-06-30 17:44] mangui commented on #284
Hi @kanongil
you should now be able to specify the start offset using config.startPosition or startLoad(startPosition)

next step would be to parse EXT-X-START:TIME-OFFSET=x and expose it in levelDetails
and use it in streamController.onLevelLoaded() as startPosition in case config.startPosition is not -1

[2016-06-30 17:44] mangui commented on #284
refer to https://github.com/dailymotion/hls.js/commit/496ff0dd544bee9c7a6554fddb3a80fb30ae8ac9

[2016-06-30 17:47] mangui commented on #187
once confirmed, i would be keen to merge.

[2016-06-30 17:48] shaharmor commented on #187
I will verify on our build later today too

[2016-06-30 18:00] jyavenard commented on #536
There is no set definition in the MSE spec as to when the user agent should consider that data is missing.
All of them use different values, but they sure all use one.

You don't currently see the problem with chrome because right now they have a buggy behaviour and incorrectly use dts to calculate the buffered range (that's why  they report the buffered range as starting in 0). When they fix thei

[2016-06-30 18:03] jyavenard commented on #536
At @blacktrach
"why does the behaviour always differ from other browsers in Firefox when seeking to 0 in paused state? i.e. black 'frame' (?) instead of first frame?"

This is just chrome behaviour. If you take it as reference, then sure you could think that Firefox got it wrong.
IE11, Edge and Safari behaves just as Firefox. They all got it wrong too by the look of it :)

[2016-06-30 20:29] nhjm449 commented on #529
Wowza's HLS [PlayReady DRM implementations](https://www.wowza.com/forums/content.php?437-How-to-secure-Apple-HLS-streaming-using-DRM-encryption) appear to encrypt the entire transport stream chunk.

However, EME [requires](https://www.w3.org/TR/encrypted-media/#unencrypted-container) that the container isn't encrypted, just the contents.

So you may be left waiting for the [just-announced](https:/

[2016-06-30 22:17] blacktrash commented on #536
Hm. Are you really sure? I wrote the above _after_ trying it in practice ;-)
Both at http://flowplayer.blacktrash.org/fp6/hlsjs-pausedseek0.html (by clicking stop) and at http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fd12zt1n3pd4xhr.cloudfront.net%2Ffp%2Ftest%2Fstarttime.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined by man

[2016-06-30 22:21] cpeterso commented on #536
I confirm that IE11, Edge, and Safari all behave like Chrome when seeking to 0 in this stream. Firefox 47+ is the outlier.

[2016-06-30 22:43] blacktrash commented on #536
They don't even have a problem with this http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fcdn.flowplayer.org%2F202777%2F161139.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined (where I consider the stream rather broken, but it underlines the divergence in Firefox' behavior): the audio tracks start over 1 second later than the v

[2016-07-01 06:04] shacharz opened #539 "Audio hiccups in Chrome"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-01 10:41] waster opened #540 "AAC HLS stream is not playing"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io/

[2016-07-01 11:05] blacktrash commented on #540
Did you also try the hls muxer: http://www.ffmpeg.org/ffmpeg-formats.html#hls-1 ?

[2016-07-01 11:15] waster commented on #540
@blacktrash sure I tried successfully, it generates TS segments with MPEG-TS muxer, but I need to generate ADTS AAC segments for audio only stream and hls.js is presented with AAC container support for such streams. The main cause of this is that audio tag can be played inline on iPhone (4 < iOS).

[2016-07-01 14:10] blacktrash commented on #540
The TS segments are ADTS when created with the hls muxer.
This seems to work: http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fd12zt1n3pd4xhr.cloudfront.net%2Ffp%2Ftest%2Fhyperion_ff.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

ffmpeg cli:
[code]

Disclaimer: I have no experience with segmenting live streams.

[2016-07-01 22:37] nhjm449 commented on #540
`com.apple.streaming.transportStreamTimestamp` ID3 `PRIV` tags [must](https://tools.ietf.org/html/draft-pantos-http-live-streaming-19#page-6) be in each AAC fragment to let the player know what the PTS of the fragment is. And a simple [code search](https://github.com/FFmpeg/FFmpeg/search?q=transportStreamTimestamp) shows that nothing in ffmpeg generates said tag.

TS fragments are perfectly capabl

[2016-07-02 08:11] waster commented on #540
Yes, I'm successfully using audio-only TS fragments generated with ffmpeg hls. But I'm confusing if <audio> tag could play such TS fragments and it has been written in a spec somewhere?

[2016-07-03 10:54] blacktrash commented on #476
Closing in favour of #536.

[2016-07-03 10:54] #476 closed

[2016-07-03 10:59] blacktrash commented on #98
@mangui - closing this; concerning seeking to 0 in paused state (see https://github.com/dailymotion/hls.js/issues/536#issuecomment-229729013), migrating to #536.

[2016-07-03 10:59] #98 closed

[2016-07-03 16:56] shaharmor opened #542 "hls.js keeps downloading segments when paused"
Hi,

Not sure if its a bug or a feature, but when hls.js is paused it keeps downloading segments like its still playing.

You can check it in the demo page: http://dailymotion.github.io/hls.js/demo/
Just start playing and pause, and watch the buffer keeps filling

[2016-07-03 20:17] tjenkinson commented on #187
I just tried building the dist version into clappr works without changing any of our build configuration.

I get an error `Uncaught ReferenceError: _typeof2 is not defined` which seems to be the result of running the code through babel again.

When I change the clappr config to not run hlsjs through babel (and webworkify-webpack) it works fine.

So maybe this change should be in the next minor rel

[2016-07-04 03:21] chjcken commented on #542
hi @shaharmor

of course it's a feature :D
take a look at some hls config [here](https://github.com/dailymotion/hls.js/blob/master/API.md#maxmaxbufferlength)
hls will try to load next fragments until buffer >= config.maxBufferSize

[2016-07-04 08:14] slash851 opened #543 "No audio when alternative audio exist in manifest"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-04 09:28] mangui commented on #542
yes it is a feature

[2016-07-04 09:28] #542 closed

[2016-07-04 09:30] mangui commented on #532
@normenster I can't investigate as the stream is still geoblocked

[2016-07-04 12:38] mangui commented on #533
Hi @steve6 , plz recheck on v0.6.2-0
CC button is available
http://streambox.fr/mse/hls.js-0.6.2-0/demo/?src=http%3A%2F%2Fdemo.deltatre.it%2Fcc-test%2FQualityLevels(1400000)%2FManifest(video%2Cformat%3Dm3u8-aapl).m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-07-04 13:00] steve6 commented on #533
Yes this version works!

Thanks

[2016-07-04 13:04] gbentaieb commented on #407
I just created a pull request that adds a parameter in the defaultConfig: forceKeyFrameOnDiscontinuity.
If set to false, no AVC sample is dropped and in my case, all the holes I observed in my stream before disappeared.
See: https://github.com/dailymotion/hls.js/pull/544

[2016-07-04 13:21] dharFr commented on #187
Make sense @tjenkinson. By default, running `npm install --save <somepackage>` saves to `package.json` by using the [caret notation (^x.y.z)](https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004).
Looks like _hls.js_ falls into that case :

A minor release might be enough.

[2016-07-04 16:47] JuliusThms commented on #519
Hi @mangui

do you have any update? even in 0.5.41 startLevel isn't working.

[2016-07-04 16:55] normenster commented on #532
You can check this one, the errors occurs here also. Console says "unknown sliding window". It`s important to wait for at least 80 seconds before changing qualities.

http://playback.gl-systemhaus.de/player/0.6.1/demo/?src=http://livestreams.br.de/i/bfssued_worldwide@119891/master.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-07-04 17:44] mangui commented on #543
Hi @slash851 plz recheck on hls.js/master or v0.6.2-1 prerelease

[2016-07-05 13:45] mangui commented on #519
if you want to tweak startLevel, you should use config.autoStartLoad=false;
and modify your listener as below:
[code]

[2016-07-05 14:48] mangui commented on #540
your use HLS with AAC ES. as stated by @nhjm449 `com.apple.streaming.transportStreamTimestamp` ID3 `PRIV` tags [must](https://tools.ietf.org/html/draft-pantos-http-live-streaming-19#page-6) be in each AAC fragment. this is stated in [HLS spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-19#page-6)

[2016-07-05 14:50] drichards commented on #515
@mangui can we re-open this issue? We're still seeing it as well in 0.6.1 and it sounds like @featheast is as well.

[2016-07-05 14:54] mangui commented on #532
Hi @normenster
I was able to reproduce with v0.6.1, but I can't repro with v0.6.2-1
http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Flivestreams.br.de%2Fi%2Fbfssued_worldwide%40119891%2Fmaster.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

could you recheck/confirm on your side ?

[2016-07-05 15:00] mangui commented on #515
Hi @drichards 0.6.1 is now outdated, I started stabilizing master branch (0.6.x) yesterday, and tagged a new prerelease 0.6.2-1, would you mind rechecking your stream against 0.6.2-1 ? (the demo page is now using it)

if you can still repro, plz also provide the output of chrome://media-internals

[2016-07-05 15:02] mangui commented on #531
u can find it in git history

[2016-07-05 15:08] #530 closed

[2016-07-05 15:09] mangui commented on #421
Hi @redannick @dananichev
do you mean the exception is not catched ?
do you have logs, backtrace ?

[2016-07-05 15:10] mangui commented on #450
Hi @Sylvain228 are you still facing any issues ? otherwise i would like to close this ticket

[2016-07-05 15:14] mangui commented on #275
Hi @DannyZB
I can't repro anymore on the demo page, could you recheck and close if the issue is gone ?
tks

[2016-07-05 15:16] mangui commented on #385
Hi @nhjm449 could you recheck against latest master / v0.6.2-1 and ensure that everything is working as expected now ?

[2016-07-05 15:17] drichards commented on #515
Hi @mangui just tried 0.6.2-1 and I'm not seeing the issue anymore there. Thanks!

[2016-07-05 15:17] waster commented on #540
@mangui  ah, I see, thank you for the explanation. BTW, just wondering if it is possible to insert timed metadata with ffmpeg in TS or AAC ES, because currently I can not find the right way to do that?

[2016-07-05 15:19] mangui commented on #179
Hi @DannyZB is this issue still reproducible ? hls.js should now be able to deal with this case as it seeks to first buffered range.

[2016-07-05 15:26] mangui commented on #540
yes, hls.js supports [Timed Metadata](https://developer.apple.com/library/ios/documentation/AudioVideo/Conceptual/HTTP_Live_Streaming_Metadata_Spec/Introduction/Introduction.html) in ID3 format, carried in MPEG2-TS
I don't know about ffmpeg usage, but a bunch of people are using this.
if fragment boundary precision is enough for you, you can listen to FRAG_CHANGED event and also retrieve any custo

[2016-07-05 15:30] mangui commented on #156
Hi @croepha I tried several times and can't repro anymore. could you confirm ?

[2016-07-05 15:33] waster commented on #540
hm, interesting idea, you suggest to use manifest instead timed metadata in chunks, but what about html5 native support then (Safari, etc)? And is timed metadata also supported with native HTML5 playback?

[2016-07-05 15:37] mangui commented on #23
Hi @gjanblaszczyk are you still experimenting this media decode error issues ?

[2016-07-05 15:56] Sylvain228 commented on #450
Hi Guillaume,
Sorry I didn't take time to check recently. Just did it, here are logs I
collected.

to give some context, I was clicking  next level 3 and next level 4 to
force switching as problem occurs on switching.

Sylvain

2016-07-05 17:10 GMT+02:00 Guillaume du Pontavice <notifications@github.com>
:

[2016-07-05 16:05] publicocean0 opened #545 "question about your plugin"
Hi i m searching  a library reading mp4 stream  in way i can add in MSE, because i have already my player adding buffers in mse.

I have 2 questions

1) it is in a particular class/classes the part of your code related to stream manipulation.
2) i m not familiar with mp4 format. So what is the difference from MPEG-2 Transport Stream and a normal mp4 format ?

[2016-07-05 16:38] cpeterso commented on #179
I can't play this stream (with Firefox or Chrome on OS X 10.11) because the vid.m3u8 URLs referenced from the original .m3u8 are 404.

[2016-07-05 17:42] Sylvain228 commented on #450
[dailymotion.github.io-1467734073020.log.zip](https://github.com/dailymotion/hls.js/files/348306/dailymotion.github.io-1467734073020.log.zip)

[2016-07-05 20:09] nhjm449 commented on #540
Pretty sure Safari native playback will present the data as `TextTrack`s. A simple way to listen for cues is probably: http://stackoverflow.com/a/31433502

[2016-07-05 20:30] nhjm449 commented on #385
Testing on http://dailymotion.github.io/hls.js/demo/ again, I'm no longer able to break it. :smile:

Thanks!

[2016-07-05 20:30] #385 closed

[2016-07-05 23:40] cpeterso commented on #536
I filed [Firefox bug 1284700](https://bugzilla.mozilla.org/show_bug.cgi?id=1284700) to investigate whether this is a bug in Firefox.

[2016-07-06 08:55] mangui commented on #539
Hi @shacharz I rechecked your [stream against v0.6.2-1 ](http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fserver2.kzradio.net%2Flive%2Faac%2Fplaylist.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined) and i didn't notice any glitches
also chrome://media-internals does not contain any audio splice debug info

so most probably thi

[2016-07-06 10:17] mangui commented on #534
Hi @xlazom00 I am not clear about your needs.
hls.js will refresh stream manifest until EXT-X-ENDLIST appears, whatever the EXT-X-PLAYLIST-TYPE is. it should support both event and sliding live playlist.

[2016-07-06 13:10] sergiyshutov commented on #531
Somethning wrong with audio start at: 00:06:40 - 00:07:00

http://hd25.freep2p.info/vod_hls/XUBL1EZqxawlu70Cws62.mp4/index.m3u8

or

http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fhd25.freep2p.info%2Fvod_hls%2FXUBL1EZqxawlu70Cws62.mp4%2Findex.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-07-06 17:28] blacktrash commented on #536
@cpeterso - thanks.
To me it looks like it's boiling down to what tolerance value is allowed in this case. imo 125ms is too low for quite a lot of real world streams (see Apple mediafilesegmenter example).
Be that as it may, at least for VOD maybe storing buffered.start.null(0) on first load and then, on seek to 0, triggering currentTime = initialBufferStart would work ...

[2016-07-06 19:29] JuliusThms commented on #519
Thanks @mangui, it's working.

[2016-07-06 22:05] mangui commented on #519
great, closing

[2016-07-06 22:05] #519 closed

[2016-07-07 09:15] gjanblaszczyk commented on #23
Hi @mangui Now is working fine :+1:

[2016-07-07 09:22] mangui commented on #23
great ! closing

[2016-07-07 09:22] #23 closed

[2016-07-07 09:43] blacktrash commented on #23
FWIW - I don't get errors, but do get indefinite stalling somtimes. I guess that's out of scope for this bug (the streams themself are quite problematic)?

[2016-07-07 09:47] kanongil opened #549 "Support live streams with alternative audio"
In 0.6.2-1 the stream initially plays but stops after a few seconds.

As far as I can tell it treats the audio as a VOD stream, loading all segments and never refreshing the playlist.

[2016-07-07 10:17] tjenkinson commented on #187
New pr against master: https://github.com/dailymotion/hls.js/issues/550

[2016-07-07 12:37] mangui commented on #549
yes, this is not supported ATM
could you share a live playlist with alt audio so that i could have a look ?

[2016-07-07 13:20] slash851 commented on #543
works now - thanks, can be closed

[2016-07-07 13:29] mangui commented on #543
great

[2016-07-07 13:29] #543 closed

[2016-07-07 14:08] tobiasandersen opened #551 "Seeking past duration with live hls"
When setting a seek point past the available duration in a hls stream the current time will automatically jump back to the beginning. I would expect it to stay and wait for that position to become available in the live stream. How would I accomplish this?

[2016-07-07 15:21] kanongil commented on #549
Sure, I have mailed a test stream to your gmail address.

[2016-07-07 15:27] AxelDelmas opened #552 "Video tag error handling not documented"
The handling of hls.js error events is well documented [here](https://github.com/dailymotion/hls.js/blob/master/API.md#fifth-step-error-handling), however it does not advise to also apply the same logic for the video tag's `error` event. Still, this is what is implemented in the demo page: https://github.com/dailymotion/hls.js/blob/master/demo/index.html#L638

https://github.com/streamroot/videojs

[2016-07-07 18:03] tjenkinson commented on #491
I just looked at this and it appears to be a bit more complicated because the user might have `autoStartLoad` set to `false`, in which case they'd need to call `startLoad()`, and then `startLoad()` again once they get the `MAINFEST_PARSED` event. It seems a bit strange to me for the same method to be doing different things depending on when it is called.

Also calling `startLoad()` when the `MANIF

[2016-07-07 22:05] drichards commented on #9
@mangui + @jernoble I took a stab at making the edit box changes you were discussing above. It doesn't look like they made much difference on safari startup though. Maybe one or both of you could take a quick look to see if I'm doing something obviously wrong.

[2016-07-08 00:08] sevagsim opened #554 "Question: Custom license acquisition server for encrypted HLS content playback (HTML5)"
Using HLS.js I'd like to be able to use a custom license server to get the keys and set them up by leveraging MSE (webkitneedkey, etc) browser events.

What's the best way to accomplish this?

[2016-07-08 04:55] gramk opened #555 "Comment between EXTINF and segment URL breaks playback"
##### Environment

- [x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x ] The issue occurs in the latest reference client on http://dailymotion.githu

[2016-07-08 11:07] tobiasandersen opened #557 "startPosition doesn't seem to work on live hls"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io/

[2016-07-08 11:19] mangui commented on #557
Hi @tobiasandersen
I don't have your hls.js debug logs, but most probably it is related to the fact that you are overriding [liveSyncDuration](https://github.com/dailymotion/hls.js/blob/master/API.md#livesyncduration), setting it to 2 will ensure that currentTime stays close to live edge ... which is not what you want in your case.

[2016-07-08 11:33] tobiasandersen commented on #557
Hi! Even if I remove all the options (except for startPosition), the behavior is the same. Where do I find the debug logs? I've tried setting `debug: true`, but I don't see anything in the console...

[2016-07-08 11:42] ronag opened #558 "Sometimes doesn't try to load segments?"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [ ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io/

[2016-07-08 11:43] mangui commented on #557
check https://github.com/dailymotion/hls.js/blob/master/demo/index.html#L272

![image](https://cloud.githubusercontent.com/assets/1798553/16686361/e4f00640-4511-11e6-9608-0bf52aa984a2.png)

[2016-07-08 11:44] mangui commented on #558
debug logs are missing

[2016-07-08 11:45] mangui commented on #551
follow up in https://github.com/dailymotion/hls.js/issues/557

[2016-07-08 11:45] #551 closed

[2016-07-08 11:50] ronag commented on #558
I'll enable debug logs and see if I can get it to happen again.

[2016-07-08 11:59] tobiasandersen commented on #557
The problem was that another library (Clappr) was overriding all the options (only noticed it now that I couldn't get the debug logs). Now startPosition also works as expected. Thanks for you help!

[2016-07-08 11:59] #557 closed

[2016-07-08 12:35] tjenkinson commented on #555
This new regex seems to work:
[code]

Just doing some checks then I'll submit a pr.

[2016-07-08 14:38] kfeinUI opened #562 "Problems exposed by seeking"
##### Environment

- [x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x ] The issue occurs in the latest reference client on http://dailymotion.githu

[2016-07-08 14:48] kfeinUI opened #563 "Media error false-positives?"
Found that in my extensive testing that there are a lot of media error false-positives thrown. I'm referring to situations where the error is thrown, but playback proceeds as normal if you were to ignore it rather than fire off any recovery behavior. Naturally the behavior differs across browser environments with some worse than others. Makes it so that the suggested recovery behavior as documente

[2016-07-08 15:20] blacktrash commented on #562
You are aware that http://hls.gofeet.info/seek-sample-1/speaker-Orig.m3u8 is not spec compliant:
[code]
?
EXTINF should not exceed TARGETDURATION.

[2016-07-08 15:28] kfeinUI commented on #562
Nice catch @blacktrash . Will give my encoding guys some grief on that.

[2016-07-08 18:42] ale-grosselle commented on #508
@mangui to obtaining id3 are simple, but I have a problem: I wouldn't know how to find the timestamp for the specific id3

[2016-07-08 18:53] sevagsim opened #564 "Frag Loop Loading error on OSX (Chrome & Safari)"
Using this m3u8 file, getting Frag Loop Loading Error on OSX (Chrome & Safari):

http://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-sample-aes.ism/keyframes/tears-of-steel-sample-aes-video_eng=405000.m3u8

The above is one of the keyframes inside this m3u8 manifest:

http://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-sample-aes.ism/.m3u8

Using this one, gives

[2016-07-08 20:06] cconcolato commented on #9
Just correcting that. The edit list is a track construct. It is usually used to anchor a track on the movie timeline. In other words, if you don't play that track, that edit list has no effect.

[2016-07-09 07:11] chjcken opened #565 "[Question] Is there any way to display actually aspect ratio if it is inversed by rotating screen"
Hi there,

I have a video recorded by my phone. At first, the video is in landscape mode, then I rotate it to portrait mode, thus the video aspect ratio is inversed

I play it using hls.js. Every thing will be stretched out by the width if the video is in portrait mode.

Here is video link: http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fkissdee.xyz%2Fstream%2Fplaylist.m3u8&enableStream

[2016-07-09 11:29] ronag opened #566 "Range Request Manifest Request"
I'm not sure what the specification says about this. But given a VERY large manifest file it would be nice if hls.js could stream it instead of reading the entire file before parsing it and loading segments and on retries it would perform range requests.

[2016-07-10 06:09] iongion opened #567 "Request for examples"
I am trying to create a mp4 file from a set of ts files, is there a starting point for this ?
My purpose is to generate an mp4 file client side that the user can download, do you think it is achievable ?

[2016-07-10 15:00] shacharz opened #568 "Change xhrloader.load signature to use options for backwards compatibility"
Since the load function signature has changed in https://github.com/dailymotion/hls.js/commit/2284bc65840aa31c544c4a1c3fbb6c0068500134
It will break compatibility of external loaders when updating.
I recommend moving to options argument for easier backwards compatibility.

[2016-07-11 09:26] #555 closed

[2016-07-11 15:10] ale-grosselle opened #569 "Audio streaming (ts pack) does not play correctly"
##### Environment

- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [X] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-11 15:24] mangui commented on #568
Hi @shacharz indeed an additional arg has been added in load() signature
not clear about options argument, do you mean

`load(url, responseType, onSuccess, onError, onTimeout, timeout, maxRetry, retryDelay, onProgress = null, frag = null, context = null)
`

instead of

`load(url,context, responseType, onSuccess, onError, onTimeout, timeout, maxRetry, retryDelay, onProgress = null, frag = null)`

[2016-07-11 15:28] shaharmor commented on #568
@mangui he means: `load(options)`
And then you can add properties to the options object in the future

[2016-07-11 15:31] mangui commented on #566
Hi @ronag
I would be curious to see your network metrics ?
you can reduce a lot your latency if your webserver supports gzip compression.
doing range request to refresh the playlist is tricky as some live playlists are sliding ... in that case it is not possible to know which range would be updated.
regarding streaming / progressive parsing of live playlist : most of the time the new fragments are

[2016-07-11 15:32] mangui commented on #567
Hi @iongion plz refer to https://github.com/dailymotion/hls.js/issues/410

[2016-07-11 16:07] mangui commented on #562
before reaching your @kfeinUI
I got a media decode error with this stream after 8s of playback.
while checking your stream  I found out weird video NAL unit sequences.
usually each IDR/NDR is usually preceded by an AUD.
it is not the case in your stream.
I think this needs to be looked into first.

[code]

[2016-07-11 16:27] iongion commented on #567
@mangui Thank you

[2016-07-11 16:27] #567 closed

[2016-07-11 16:32] mangui commented on #9
Hi folks,
adding edts/elst box seems to help improving playback startup on Safari
you can check with your streams here
http://streambox.fr/mse/hls.js-elst/demo/
feedback welcome
related to https://github.com/dailymotion/hls.js/pull/553

[2016-07-11 16:36] kfeinUI commented on #562
Sure. Will bring that to the attention of my encoding team. Thanks, @mangui !

Suggest you try bouncing around a sample of your own, in the meantime. Definitely some concerning behavior observed like the EventEmitter leak that should be preventable.

[2016-07-11 16:38] mangui commented on #562
@kfeinUI sure, if you could reproduce this leak with any reference stream, i would be glad to look into it.

[2016-07-11 16:42] mangui commented on #564
Hi @sevagsim ATM hls.js supports AES-128 mode (whole frag encrypted) but not SAMPLE-AES mode
closing as duplicate with https://github.com/dailymotion/hls.js/issues/173

[2016-07-11 16:42] #564 closed

[2016-07-11 16:55] mangui commented on #563
plz refer to https://github.com/dailymotion/hls.js/blob/master/API.md#errors
only fatal errors need an external action

But you might have a fatal error with video still playing: it is the case for network error : a network error become fatal after reaching the max nb of retries. you can still try to recover it by calling hls.startLoad()

[2016-07-11 16:57] mangui commented on #552
Hi @AxelDelmas thanks for the suggestion.
anybody willing to volunteer here ? PR welcome

[2016-07-11 21:27] ronag opened #570 "Incorrect duration"
Given the files here ​https://www.dropbox.com/sh/y7ektsjrg8jw6kj/AADAEMuPnyJJDYcV2XR_lK7ca?dl=0

The duration that HLS.js reports is different from what is in the manifest file as well as what ffprobe reports (note that even ffprobe reports different durations for m3u8 and ts).

In partical I find it strange that hlsjs show MORE frames than exists in the source "mxf" media. How is this possible?

[2016-07-11 22:21] ronag commented on #551
@mangui: #557 is unrelated...

[2016-07-12 06:50] shacharz commented on #568
We also need to consider how the interface of the loader be enforced since this change will even increase its implicitness.

[2016-07-12 08:35] mangui commented on #568
related to https://github.com/dailymotion/hls.js/issues/264

if we change the loader signature, we need to get rid of the XHR dependency, and also support progressive loading of text and binary data (to be able to support Fetch API in the near future)

[2016-07-12 09:02] blacktrash opened #571 "live stream stuck in seeking/idle state on level switch"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues - maybe coverd by [other NASA stream related issues](https://github.com/dailymotion/h

[2016-07-12 16:31] mangui commented on #570
Hi @ronag
what do you mean by 'the duration that HLS.JS reports' ?
do you mean videoTag.duration ?
could you share hls.js debug logs ?

[2016-07-12 17:05] normenster commented on #532
Yep, it seems to work again. Thanks!

[2016-07-12 17:05] #532 closed

[2016-07-12 18:01] ronag commented on #570
[code]

The video duration is correctly parsed it seems. However, from somewhere we're getting audio padding...

Here are the complete logs:

[code]

[2016-07-12 18:13] ronag commented on #570
@mangui: I know that aac encoder will pad silence in beginning and end of audio.

http://dalecurtis.github.io/llama-demo/index.html

[2016-07-12 18:18] ronag commented on #570
This one is even more interesting:

The correct duration is 47.24:

Which is correctly parsed by hlsjs from the video:
[code]

However, the stats use the audio duration (which has padding?):

![screen shot 2016-07-12 at 20 17 51](https://cloud.githubusercontent.com/assets/3065230/16778313/c6b4a438-486d-11e6-859a-d4e08f9dcfe4.png)

[code]

[2016-07-12 20:42] xlazom00 commented on #534
thx
It looks like it is working now

[2016-07-12 20:42] #534 closed

[2016-07-12 22:10] xlazom00 opened #572 "#EXT-X-START:TIME-OFFSET weird behavior with live/event"
##### Steps to reproduce
I have live stream in event format
and #EXT-X-START:TIME-OFFSET=0.0 don't working
I would expect that playback start from first segment => 0.0 time
I know that in live streaming whole PTS/DTS don't start from 0 but ... .
and #EXT-X-START:TIME-OFFSET=-650.0 also don't work as expected as it start from start (any negative value) force live stream to start from beginning.

An

[2016-07-13 08:51] TV5Dev opened #573 "Redundant stream failover main to backup"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io/

[2016-07-13 12:19] FranklinWaller opened #574 "Demuxing DRM content on Safari"
Currently HLS.js doesn't like it when you are trying to demux DRM (Fairplay) content. Safari is able to play TS files (DRM encrypted) on it's own, so can't we skip the demux part in order to be able to play DRM content?

We can ofcourse just let Safari play m3u8 on it's own but the main advantage of using hls.js on Safari is DVR with live.

So my proposal: Can we skip the demuxing on Safari so we

[2016-07-13 17:26] mangui commented on #573
Hi @TV5Dev indeed this was broken in v0.6.2-1prerelease
could you recheck against  https://github.com/dailymotion/hls.js/releases/tag/v0.6.2-2 ?

[2016-07-13 17:27] mangui commented on #572
Hi @xlazom00 negative start time offset were not supported, it should be the case now.
would you mind rechecking against  https://github.com/dailymotion/hls.js/releases/tag/v0.6.2-2 ?

[2016-07-13 17:29] mangui commented on #571
Hi @blacktrash i added some robustness to improve hls.js resilience against this slightly broken stream.
would you mind rechecking against  https://github.com/dailymotion/hls.js/releases/tag/v0.6.2-2 ?

[2016-07-13 17:31] mangui commented on #574
Hi @FranklinWaller even if the demuxing is skipped, if you want the content to be decrypted, you would need to provide the decryption key to underlying Content Decryption Module. and I am afraid there is no (public?) API to do this.

[2016-07-13 17:35] mangui commented on #565
Hi @chjcken
I got a timeout while loading your video.
anyway, video width/height and aspect ratio are extracted here (parsing [SPS](https://cardinalpeak.com/blog/the-h-264-sequence-parameter-set/))
https://github.com/dailymotion/hls.js/blob/master/src/demux/exp-golomb.js#L159-L282

[2016-07-13 18:10] xlazom00 commented on #572
1. part is working
2. part don't.  It load 50 segments without any problems :)

[2016-07-13 18:32] mangui commented on #572
Could you share a playlist with debug logs ?

[2016-07-13 19:31] #531 closed

[2016-07-13 20:00] blacktrash commented on #571
@mangui - I was just in the middle of testing v0.6.2-1 for the fp plugin.
Yeah, will check - could you make v0.6.2-2 available via npm?
FWIW, I could sort of work around the problem with setting a startPosition to e.g. 10 - but there still have been problems after a long pause. Anyway, will concentrate on master now.

[2016-07-13 20:08] blacktrash commented on #571
@mangui - v0.6.2-2 looking very good for this. I can see it it working hard at jumping through the hoops ;-) but it works. - Also in Firefox by the way, where the problem was also present.
Nice work!

[2016-07-13 20:09] mangui commented on #571
@blacktrash great !
v0.6.2-2 now npm published

[2016-07-13 20:18] blacktrash commented on #565
@mangui - I had a look yesterday: the stream toggles landscape/portrait _mid-stream_.
I'm sceptical whether a video tag can deal with this (as @chjcken said, it doesn't in generic playback), maybe listening to FRAG_CHANGED or similar, and on change toggle dimensions of the video tag, but I doubt it.

[2016-07-13 21:11] xlazom00 commented on #572
sorry it is working fine :)
just hls.js default values are too big
https://github.com/dailymotion/hls.js/blob/master/API.md
maxMaxBufferLength=600s  10minutes buffer why?

[2016-07-13 21:11] #572 closed

[2016-07-14 00:36] gramk commented on #555
Can this be ported back to 0.5.x ?

[2016-07-14 00:49] #571 closed

[2016-07-14 01:29] TV5Dev commented on #573
Hi @mangui I have a question regarding the media segment numbers ("#EXT-X-MEDIA-SEQUENCE"), are they being used to track the playback offset of the backup playlist when the primary one fails? This because I tried to with the 0.6.2-2 sample and the playlist seems to keep loading but playback doesn't continue. (I have experienced this with other players, where I found some reports regarding the medi

[2016-07-14 07:38] deniss-muhla opened #575 "Google Chrome Crashes after "0.5.41" version"
Hello. We have our HLS file server. Hls.js player after "0.5.41" version crashes in google chrome.
Link to page with Hls.js player from latest CDN: http://hls-js-test.bitballoon.com/
m3u8 file: http://hls-js-test.bitballoon.com/live.m3u8 (it's not CORS but i can provide all video files)
Tested on firefox - works ok.

[2016-07-14 07:59] darrennolan opened #576 "Question: How is size of player calculated?"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io/

[2016-07-14 08:13] darrennolan commented on #576
Just a side note, the flash shim stuff is NOT loaded if hls.js reports it can support the current browser, but in an effort to keep complexities low, we still perform the same left: -200% off the page as the players are closed.

Players as reused between source changes (rather than new players created) in order to keep click trust against video players, so 'auto-play' between video changes can con

[2016-07-14 16:20] chjcken commented on #565
hi @mangui
I have updated link video above and it also incudes CORS header.

seem like readSPS function is called just 1 time at start of stream so I can't know if video aspect ratio is changed (inversed) at middle of stream

Do you have any idea to fire an event when some thing like I mention happens

[2016-07-14 23:08] jgainfort opened #577 "Custom Loader to Dynamically Inject TS Fragments"
Hello,

I am implementing a custom loader that modifies the level xhr responseText to dynamically inject ts fragments.

Ex:

<content>
# EXT-X-DISCONTINUITY
# EXTINF:4.046444,

http://sample.vodobox.net/skate_phantom_flex_4k/low/skate_phantom_flex_4k_228_144p1.ts
# EXTINF:4.000000,

http://sample.vodobox.net/skate_phantom_flex_4k/low/skate_phantom_flex_4k_228_144p2.ts
# EXTINF:4.000000,

http://sa

[2016-07-15 02:54] chjcken commented on #577
hi @jgainfort

you should know that Xhr response object is a read-only object so you cannot change it's value by traditional way like this `resp.[attribute] = something` (this code does nothing). You can do some search with keyword "overwrite readonly object" but as I know all results are trick and they may not work on all browser

and I have no idea with your error log but if possible, you should

[2016-07-15 03:12] jgainfort commented on #577
I created a wrapper on xmlhttresponse that allowed me to overwrite responseText. Not completely worried about all browsers at this particular instance.

[2016-07-15 09:13] sompylasar commented on #525
@cpeterso and anyone, please do you by chance know how to enable [Chromium logging](https://www.chromium.org/for-testers/enable-logging) in Opera (Chromium) on Windows? I couldn't find any documentation for that, and the command-line flag didn't work for me, no log file appeared in the User Data directory.

[2016-07-15 14:05] JHartman5 opened #578 "Segments with audio gaps at the beginning cause media error in Chrome"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-18 10:01] waster commented on #491
We are really needed this to be implemented too, there should be a possibility to handle network loading errors.

[2016-07-18 11:21] sujit-neoconcepts opened #580 "stream not play afteter hlsjs version 0.6.1"
I  have strange issue, my player stopped working after upgrade to latest hlsjs, however it still play fine till version 0.6.1
working version
https://cdn.jsdelivr.net/hls.js/0.6.1/hls.js

nonworking
https://cdn.jsdelivr.net/hls.js/latest/hls.js

on latest version it give no error, but do noting after loading first segment. it seems it unable to decide load which playlist after calculating bitrate

[2016-07-18 20:33] nhjm449 commented on #576
The size of the player is whatever the size of the `video` element is. And the `object-fit` CSS property (default "contain") determines how the video shows up within the element.

The native resolution of the currently-playing video is available via `HTMLVideoElement.videoWidth`/`videoHeight` after data has been pushed to the `video` element.

[2016-07-18 20:36] jgainfort commented on #577
Ok, I created a simple Plunker that can demonstrate this issue.

https://plnkr.co/edit/8ek3tVZJ04GZnSnqbT3r

While testing out with the demo url used in your documentation I got everything to work as expected. I am able to verify playback of video segments injected at the beginning of a stream.

However If I switch to a manifest that I was trying to use prior to creating the extremely simple demo

[2016-07-18 20:43] nhjm449 commented on #580
It didn't read the level codecs correctly (`undefined` and with an extra `"`), so I'm curious to know what your m3u8 files look like.

(And, of course, it's much harder to debug things without a working m3u8 URL to test.)

[2016-07-18 21:03] sujit-neoconcepts commented on #580
thanks for your help and pointing to the issue, issue was in master manifest file where the codec string was not enclosed correctly. the funny part was that it was working with older version of hlsjs till 0.6.1 from cdn.

Thanks again.

[2016-07-18 21:03] #580 closed

[2016-07-19 11:42] LuoZijun opened #582 "[Question] Safari is so slow"
hi , i got one problem with Safari browser.

 in Safari, play M3U8 Media with `hls.js` is so slow, but firefox and chrome is ok.
 in Safari, play M3U8 Media without `hls.js` (Apple Safari is support m3u8), the speed is fast.

Normal Code:

[code]

Do i need some config ?

[2016-07-19 13:43] Ady88w1 opened #583 "Live HLS stream : outdated PTS, unknown sliding"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-19 14:11] Ady88w1 commented on #583
Strange, just received an update for Firefox to 47.0.1, and issue does not appear.

[2016-07-19 14:11] #583 closed

[2016-07-19 14:19] sompylasar commented on #265
`0.6.2-2` gives:
[code]
because of this:
https://github.com/dailymotion/hls.js/blob/1dec4e4c3400b8a71b8ad592f5695ac5df74992f/package.json#L15

[2016-07-19 14:23] tjenkinson commented on #265
@sompylasar yes it will but does it work for you?

Refs: https://github.com/dailymotion/hls.js/issues/187 https://github.com/dailymotion/hls.js/pull/550

[2016-07-19 14:24] sompylasar commented on #265
BTW refs https://github.com/webpack/webpack/issues/1617

[2016-07-19 14:27] sompylasar commented on #265
@tjenkinson I've just switched from `0.5.41` to `0.6.2-2` because some internal errors were fixed there but not ported back to `0.5.x` (like this one: https://github.com/dailymotion/hls.js/commit/61cedf94a10d884e6ae662ff894baf9627d39c47 ).

For `0.5.41` I used the following:
[code]

[2016-07-19 14:28] tjenkinson commented on #265
@sompylasar ok. With this change you no longer need that workaround you should be able to use hlsjs the same way as any other dependency. Does it work without that?

[2016-07-19 14:30] Ady88w1 opened #584 "Chrome: Video Decode Error"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-19 14:52] sompylasar commented on #265
@tjenkinson Yes, looks like it works, but webpack spits the annoying warning about the pre-built javascript file.

[2016-07-19 15:03] tjenkinson commented on #265
I think you might be able to disable the warning with the

module.noParse

webpack option

[2016-07-19 15:11] ohmercy opened #585 "VOD : support alternate audio tracks with audio+video in main playlist"
What is the current state of live video with alternative audio tracks?
Is it supposed to work and to be production ready?

The following playlist, generated by Wowza, works in iOS, but on the hls.js demo page either video only or audio only is playing, never at the same time. I can see both audio and video chunks are being downloaded though. When audio is playing, the audio track toggle works.

[c

[2016-07-19 15:38] sompylasar commented on #265
@tjenkinson Yes, thanks, [`module.noParse`](https://webpack.github.io/docs/configuration.html#module-noparse) worked. One workaround has changed to another workaround:

[code]

[2016-07-19 18:20] glebglushtsov opened #586 "startLevel is not working with autoplay"
I'm trying to set `startLevel` in `Hls.Events.MANIFEST_PARSED` handler but it is not considered if `autoStartLoad` is `true`.
When `Hls.Events.MANIFEST_PARSED` is fired it's handled first internally by library in `StreamController` and playback is started with `level 0` for VoD or `level 1` for live. Then `startLevel` is set up but playback is already started with default value.

Where different v

[2016-07-19 21:34] blacktrash commented on #265
@sompylasar - FYI, we still do it the previous way, but now requiring `hls.js/lib/hls.js`: https://github.com/flowplayer/flowplayer-hlsjs/commit/95f82ade9511e4d77c3329258fc05a6ee5f7ac04

[2016-07-19 22:48] sompylasar commented on #265
@blacktrash thanks, I expected there should be a `lib/` version, but missed it [in the package.json](https://github.com/dailymotion/hls.js/blob/1dec4e4c3400b8a71b8ad592f5695ac5df74992f/package.json#L36), so I thought there is only a browserified distributable in the npm-installed package.

[2016-07-20 01:31] blacktrash commented on #265
@sompylasar - I take everything back and claim the contrary ;-) Turns out this was not reliable, so I'm very grateful for your insistence - `noParse` seems to do the trick.
Thank you.

[2016-07-20 09:07] sompylasar commented on #265
@blacktrash my insistence happened by mistake here, otherwise I would use the `lib/` to bundle myself, like I do with other modules which are not browserified. Thanks for pointing out that with hls.js using `lib/` version is less reliable than the `dist/` version. What I feel wrong with the `dist/` is that common modules, e.g. `EventEmitter`, do not get reused from the modules already used by my a

[2016-07-20 09:24] tjenkinson commented on #265
@sompylasar I agree. If there was a way of inlining the web worker code outside of browserify and it was a separate build step, then it should be possible to go back to using `lib` again, where the source files which use a web worker would have their source inlined at that stage. Then browserify would not be responsible for inlining the web workers anymore, the files browserify saw (in "lib"), wou

[2016-07-20 13:34] ohmercy commented on #585
Update:

The previouse manifest was missing EXT-X-STREAM-INF CODEC attribute.
With the attribute present I can observe this behaviour:

* if main playlist contains video-only chunks: video + default audio plays fine and switching language also works as expected!!

* if main playlist contains chunks with audio+video:
Video + audio start playing. Switching to an alternative language via audio toggle

[2016-07-20 14:32] blacktrash commented on #265
I may have figured out a way by requiring hls.js/lib/index.js (?!): https://github.com/flowplayer/flowplayer-hlsjs/commit/70529238fda7c85e75ef6e071ab35cb141c3dc74 seems to work so far, doesn't complain about Hls being undefined. Basically kinda reverting https://github.com/dailymotion/hls.js/commit/c4f299959e9a2cfb0db63e221b0ee6a77fd0eb89#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L15
Disclaimer: I don'

[2016-07-20 14:41] tjenkinson commented on #265
@blacktrash yes doing that essentially results in the same as before the change

[2016-07-20 15:27] jlacivita commented on #574
This is theoretically possible (Apple finally opened the API, if you're willing to pay $70 to be an Apple developer. However, getting better Safari performance out of hls.js seems like a higher priority than FairPlay, to me.

Also, @FranklinWaller: Safari supports DVR natively now, w/out hls.js

[2016-07-20 15:49] normenster opened #589 "VOD Playback stucks at 00:50:00 since Version 0.6.2-0, worked in 0.5.41"
##### Environment
- [ x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ x] The issue occurs in the latest reference client on http://dailymotion.github

[2016-07-20 16:16] sergiyshutov commented on #589
Maybe something wrong with pts?
Can you try reencode your video like this, maybe this helps:
`ffmpeg -i Film.mkv -af "aresample=first_pts=0" -f mp4 -movflags +faststart Output.mp4`

[2016-07-20 16:24] normenster commented on #589
Its a german broadcast, happens with all their VOD Content ( Livestream works). I will suggest them to check their encoding workflow. Is there something known that has changed from 0.5.40 > 0.6.2 that could cause such issues? Because it worked until 0.5.40.

[2016-07-20 17:01] sergiyshutov commented on #589
Sorry i'm not developer of hls.js. Im just tell you that this solution maybe fix your problem or maybe not.

[2016-07-20 18:06] itsbonczek commented on #589
Heads up - This is caused by the bug that I just fixed in #590. I tested the attached stream locally and it plays correctly (past :50).

[2016-07-20 18:17] normenster commented on #589
Great work and thanks a lot ! When is it planned to be released?

[2016-07-20 18:51] gramk opened #591 "[Port to 0.5.X] Comment between EXTINF and segment URL breaks playback"
I logged a ticket for a bug on v0.5.x but it was only fixed on 0.6.x
Any change to see that ported on v.0.5.x branch ?

Here is the original ticket: https://github.com/dailymotion/hls.js/issues/555

[2016-07-20 19:04] mangui commented on #591
sure, PR welcome

[2016-07-20 19:05] mangui commented on #589
i will review #590 tomorrow

[2016-07-20 19:54] itsbonczek commented on #589
Thanks @mangui!

[2016-07-21 04:47] gramk commented on #591
@tjenkinson ? :)

[2016-07-21 10:10] SebastianLukas opened #592 "Audio not playing at on-the-fly segmented mp4 by AMS/Apache mod_hlshttp.so"
Hi mangui and to all working and contributing to this cool project! ;)

##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
The issue cou

[2016-07-21 15:00] FranklinWaller commented on #574
Thanks! I've went with @jlacivita suggestion. It indeed does seem Safari support DVR natively now. Only the negative about it is that you cannot read the manifest and thus not know the duration (Since the videoElement.duration is Infinity). But besides that it works pretty good.

[2016-07-21 18:45] iambumblehead commented on #333
https://treeherder.mozilla.org/#/jobs?repo=try&revision=0ecf89894550

I've tried clicking the green 'B' and but none of the links I've clicked gives me access to an installer. How does one obtain a linux build from here? Is there a better location to obtain installer with the related change?

[2016-07-21 19:59] JHartman5 opened #594 "remuxEmptyAudio does not account for initDTS"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io/

[2016-07-22 01:08] cpeterso commented on #333
@iambumblehead: @jyavenard's fix is available in the Firefox Nightly channel builds, which you can download from here:

https://nightly.mozilla.org/

[2016-07-22 07:24] ale-grosselle commented on #569
@mangui did you try to play content (audio stream):
http://thronqa-view.thron.com/api/xpublisher/resources/weebopublisher/getContentDescriptor.m3u8?clientId=thronqa&contentId=50b7f0db-1e64-48ae-8962-896ae1628b14&channelType=STREAMHTTPIOS&v=4

Have nice summer :)

Alessandro

[2016-07-22 09:17] lvgg3271 opened #596 "Mac Safari playback incorrectly [blurred screen]"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-23 17:39] tjenkinson commented on #591
Sorry I'm really busy at the moment

[2016-07-25 01:51] bravefuture opened #597 "initialization is very slow to play automatically in the new version '52.0.2743.82 m' of chrome"
With the new version '52.0.2743.82 m' of chrome, initialization is very slow to play automatically, how
to solve this problem

[2016-07-25 05:40] mangui commented on #597
Plz use issue template.

[2016-07-25 05:40] #597 closed

[2016-07-26 03:37] fredvb opened #600 "Issues decoding BipBop by Apple"
##### Environment

- [ ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-26 13:51] streamuk-joe commented on #585
I can confirm the above. Works fine if the video track is video only but fails if it contains an audio track. Will this be addressed?

[2016-07-26 13:54] mangui commented on #585
Hi @streamuk-joe
this case is not supported for the moment
could you provide a stream URL so that i could have a look ? thanks

[2016-07-26 15:53] mangui commented on #586
Hi @glebglushtsov
Indeed, if you want to tweak startLevel on `MANIFEST_PARSED`, you indeed need to use `autoStartLoad=false`. this is one of the purpose of this config param.
Otherwise your listener will be triggered after internal hls.js level listener and your overriden startLevel will not be taken into account

[2016-07-26 15:55] mangui commented on #582
closing as duplicate,related to https://github.com/dailymotion/hls.js/issues/9
Safari support is still broken

[2016-07-26 15:55] #582 closed

[2016-07-26 16:07] mangui commented on #596
Safari support is still shaky, plz refer to #9
but I am affraid that without stream i won't be able to investigate

[2016-07-26 16:11] streamuk-joe commented on #585
`#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=4586000,RESOLUTION=1920x1080,CODECS="avc1.66.30",AUDIO="video1"
http://194.50.90.129/vod/videoANDaudio.mp4/chunklist.m3u8

#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="video1",NAME="one",DEFAULT=NO,AUTOSELECT=NO,LANGUAGE="one",URI="http://194.50.90.129/vod/demolang2.mp4/chunklist.m3u8"
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="video1",NAME="two",DEFAULT=NO,AUTOSELECT=NO,LANGUAGE=

[2016-07-26 16:11] streamuk-joe commented on #585
#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=4586000,RESOLUTION=1920x1080,CODECS="avc1.66.30",AUDIO="video1"
http://194.50.90.129/vod/videoonly.mp4/chunklist.m3u8

#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="video1",NAME="one",DEFAULT=NO,AUTOSELECT=NO,LANGUAGE="one",URI="http://194.50.90.129/vod/demolang2.mp4/chunklist.m3u8"
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="video1",NAME="two",DEFAULT=NO,AUTOSELECT=NO,LANGUAGE="two"

[2016-07-26 16:16] mangui commented on #585
thanks, do you have variant manifest URL that encapsulates this ?

[2016-07-26 16:16] streamuk-joe commented on #585
I guess the desired outcome should be as QT player, in that the embedded audio is ignored.
![screen shot 2016-07-26 at 18 15 25](https://cloud.githubusercontent.com/assets/3170669/17146028/0d51b544-535d-11e6-9c4c-b295a3e02dad.png)

[2016-07-26 16:22] streamuk-joe commented on #585
only like this, not hosted.

[Archive.zip](https://github.com/dailymotion/hls.js/files/384285/Archive.zip)

[2016-07-26 16:24] streamuk-joe commented on #585
I kept the manifest simple, so that ABR/MBR was not a factor. If you like I can create an MBR version for testing.

[2016-07-26 16:26] mangui commented on #577
Hi @jgainfort
if your stream is working with standard loader but not working with your customloader, then you need to focus on your loader ...
bufferAppendingError means that the TS remuxed into mp4 is broken, this could be because the input TS (provided by your customLoader) is broken.

[2016-07-26 16:45] mangui commented on #585
thanks @streamuk-joe
As i have limited amount of time to spend on this, having a hosted version would speed up the dev.

[2016-07-27 02:05] lvgg3271 commented on #596
you are right, that's the stream:

http://split.vbyte.cn/0128/index_500k.m3u8

[2016-07-27 08:12] streamuk-joe commented on #585
http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fmediaspace.streamamg.com%2Fvideoonly.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-07-27 08:13] streamuk-joe commented on #585
http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fmediaspace.streamamg.com%2Fvideoandaudio.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-07-27 08:50] azaslavsky opened #601 "HLS.js produce jumbled video"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-27 13:54] ohmercy opened #602 "support Live stream with alternative audio"
Live stream with alternative audio stops in the demo player, mostly within 1 min. Even without switching tracks.
http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fhls-origin01-bruno01.cdn01.rambla.be%2Fadliveorigin-bruno01%2F_definst_%2Fv-alternative.smil%2Fplaylist.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

While the sam

[2016-07-27 13:54] mangui commented on #585
Hi @streamuk-joe  both streams should now work on the demo page, plz double check

[2016-07-27 13:57] mangui commented on #602
indeed, live stream + alt audio is not supported yet
related to https://github.com/dailymotion/hls.js/issues/30

[2016-07-27 14:06] ohmercy commented on #602
OK thanks.

If you would need a test stream, let me know.

[2016-07-27 14:19] streamuk-joe commented on #585
confirmed as working - thanks

[2016-07-27 15:48] mangui commented on #592
Hi @SebastianLukas audio PID was not signaled in the first parsed PMT (but in the second one)
I refined the TS demuxer logic to support this case.
plz recheck on demo page

[2016-07-27 16:47] mangui commented on #584
I was able to reproduce on OS X/Chrome 52.
to be noted: I didn't manage to reproduce it with hardware video decoding disabled on OS X  (chrome://flags)
chrome media-internals logs are not enough to understand what is going wrong unfortunately ...

[2016-07-27 19:20] azaslavsky commented on #200
What is the status of this change?

[2016-07-28 15:55] cferrier1995 opened #603 "Settings to provide best synchronization between clients"
I'm working on a project involving livestreaming video from a wowza media server to a flowplayer instance with hlsjs configured. For this project it's important that the stream playback times be as synced as possible between clients, understanding of course that HLS isn't perfect for this.

Ignoring the server side, what optimizations can be made in the HLSJS configs to reduce differences between

[2016-07-28 16:12] itsbonczek opened #604 "CAE-608/708 caption rows don't clear in some cases"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the strxeam
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.i

[2016-07-28 16:29] mangui commented on #604
ping CEA-608/708 experts @jlacivita @matb33 :)

[2016-07-28 16:40] jlacivita commented on #604
@itsbonczek Any chance we could get a stream URL?

If it's live, it would be super helpful if you could grab 4 or 5 fragments that illustrate the problem and make a new VOD m3u8 containing them, so we can see the issue and test a fix.

[2016-07-28 19:03] itsbonczek commented on #604
@jlacivita working on it :)

[2016-07-28 21:22] itsbonczek commented on #604
@jlacivita FYI - according to ANSI/CTA Standard, a PAC command should precede any row of text for all types of captions (rollup, popon, etc). Still working on a stream for you to debug with.

[2016-07-29 06:44] bharathsn0812 commented on #538
Hi All,

I used video.currentTime = video.duration - 3*fragmentDuration;
and able to seek to real-time content live content in DVR or live stream.

But facing another issue with DVR
*The m3u8 contains 20mins of past data, under this condition video-player $('video')[0].duration returns 20mins.
*As time increments by 1min we can see $('video')[0].duration returns 21min, thought we have atmost of 20

[2016-07-29 07:36] jainanshul opened #605 "Is there an API to get the raw audio data from the media segments"
I am trying to figure out if I can use `hls.js` for a linux based platform I am using. The platform supports node.js and APIs to accept raw pcm or AAC audio packets to play. There is no browser support so I can't use the HTML video element that hls.js uses to play the file. All I need is a way to get a stream of raw audio from the segments as specified in a raw m3u8 playlist file.

[2016-07-29 11:57] iddrew opened #606 "Race Condition - Infinite loop requesting chunklist for certain manifest names"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-29 12:40] Ady88w1 commented on #584
The only thing that might be abnormal in this stream is that it does not contain an audio track.

[2016-07-29 13:22] frank72833 commented on #494
Hi,

Sorry for the late response. I didn't get notified for this.

I have another sample playlist. (https://s3-eu-west-1.amazonaws.com/grabyo-test/fran/test1.m3u8)

The discontinuity is at 2.48s. So if you seek to 2.47s you will se a waterfall with a rainbow and then seeking to 2.48s you will see different content (tree and a lake).

Then, the frame that shows up at 2.48s is going to be the same u

[2016-07-29 13:26] sergiojm commented on #606
Giving more details.

The manifest its serve by akamai with a 6 hour dvr window and have been running for 30 hours.

The manifest has 21550 each with 10s and rotates well and plays on Safari.

When the player (HlsJs) loads it gets the current fragment position(21550) and plays for 10s(Chuck duration:10) but when it tries to get the next chunk  the duration position just fires up to 117003.734(not

[2016-07-29 13:38] iddrew commented on #606
@sergiojm is working with me on this one.

Here is the console output when we replicate this issue on your demo page

[log] > trigger BUFFER_RESET
logger.js:37 [log] > set autoLevelCapping:-1
logger.js:37 [log] > attachMedia
logger.js:37 [log] > manifest loaded,3 level(s) found, first bitrate:500000
logger.js:37 [log] > 2 sourceBuffer(s) expected
logger.js:37 [log] > startLoad
logger.js:37 [log] >

[2016-07-29 14:08] chjcken opened #607 "Fragment Loop Loading Error and playback stall on Firefox"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-07-29 14:25] blacktrash commented on #607
The stream contains frames of differing sizes: 720x1280 and 360x640.

[2016-07-29 14:26] mangui commented on #606
there seems to be a huge offset between audio/video PTS/DTS within the same fragment

[code]

hls.js is expecting them to be obviously aligned (it is common to have a small offset, couple of 100ms)
116994 - 21550 = 95444s = 26hours

this number reminds me something :)

PTS is a 33bit 90kHz counter , it reloops every 2^33 / 90000 = 95444s

hls.js is able to handle PTS relooping, but it seems that i

[2016-07-29 14:37] mangui commented on #606
if you could provide a reduced test case (isolate a subset of this live playlist with a couple of fragments exhibiting the issue) then i would be glad to look into it and attempt a fix.
FYI I will be off in the next two weeks :sunglasses:, not completely disconnected, but definitely ~~not~~ less productive.

[2016-07-29 15:45] sergiojm commented on #606
We are testing with a costumer private stream. Is there a way to send to you, like email?

Just to clarify, at least after 12h of streaming, reloading player , all good, the problem is when the stream is more then 24 ish...

[2016-07-29 16:04] mangui commented on #606
Yes it reloops at 26hour.
Just share one faulty frag. My email is available in git logs

[2016-07-29 16:28] sergiojm commented on #606
And now started working again... so cannot send a faulty frag...

[2016-07-29 16:46] itsbonczek commented on #604
@jlacivita I need to follow up via e-mail. Should I use jeremy.lacivita@theplatform.com?

[2016-07-29 16:53] chjcken commented on #607
hi @blacktrash

thank you for point out my error

#EXT-X-DISCONTINUITY tag would be helpful in this case

I will close this issue

[2016-07-29 16:53] #607 closed

[2016-07-30 12:49] sergiojm commented on #606
Just restarted again. What I notice before it before went crazy on the 32h(26h+6h of dvr) craziness is that the sound had a long delay from video but was playing...

[2016-07-30 15:48] vvhh2002 commented on #596
same

[2016-07-31 17:25] sergiojm commented on #606
Seams to be fixed...
Not considering the cycles of reset of Audio on video length.

So we applied a modulo  on all remuxvideo _PTSNormalize calls:

[code]
I will sent a "bad" ts by email.

[2016-08-01 02:54] lvgg3271 commented on #596
@vvhh2002 你也遇到了这个问题？

[2016-08-01 04:44] Prendo93 commented on #585
Another test stream where this seems to be an issue.

http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fdev-media.spalk.co%2Fhls-sync%2F119%2F62%2Fmaster2.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-08-01 06:27] blacktrash commented on #585
@Prendo93 - this seems to be a different case, one _alternate_ (not the main) track contains audio *and* video:
[code]
I'm not sure how valid that is.
It _sometimes_ works in Firefox if you set `defaultAudioCodec: "mp4a.40.2"`.

[2016-08-01 14:43] streamuk-joe commented on #585
Prendo 93, just a way of work around, most servers like wowza etc support an audio extraction from a file with audio and video as it was a requirement from the App store to have to present an audio only rendition.

[2016-08-01 16:55] jlacivita commented on #604
sure

[2016-08-02 03:50] Prendo93 commented on #585
@blacktrash - I think you are referring to the third alternate track (at video/stream.m3u8) which is the same playlist as the main one signalled by the #EXT-X-STREAM-INF

I found an example at https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8

Which shows signalling of audio in the main playlist by not including a URI attribute, I updated the manifest

[2016-08-02 03:51] Prendo93 commented on #602
+1 for live alternate audio.

Have set up an instance of https://github.com/mrocajr/murphy to provide 'live' streams with alternate audio for testing.

http://dev-media.spalk.co:9191/master/maat/bunnyPlaylist.m3u8 is a simulated live playlist with alternate audio sources. When the playlist ends (after a few minutes) , the live edge will restart from the start on the next GET request.

Alternativel

[2016-08-02 06:48] SebastianLukas commented on #592
Hi mangui, it works just smooth and fine!
Thank you very much

[2016-08-02 07:55] joshdickson40 opened #609 "Audio Only Playlist Raising Frag Loop Loading Error"
I am having an issue with an audio-only playlist that is dynamically generated. This playlist is generated via multiple builds of .ts files at different times as we use it with live streaming (i.e. we get a chunk of audio, encode it to .ts files & the respective manifest, then append that data to a master .m3u8 playlist). When we do not do that, and simply run off a single file into .ts files and

[2016-08-02 10:11] blacktrash commented on #609
@joshdickson40 - that's an MP3 audio stream; hls.js does not support MP3 audio (yet): https://github.com/dailymotion/hls.js#not-supported-yet

[2016-08-02 12:25] streamuk-joe commented on #585
no problem. I can't really work out what it is in that you're trying to do with the above manifest. Can you explain what it is? Also for reference https://developer.apple.com/library/ios/technotes/tn2288/_index.html#//apple_ref/doc/uid/DTS40012238-CH1-ALTERNATE_MEDIA

To me it looks like you're trying to have a variant as an alternate?

[2016-08-02 13:53] joshdickson40 commented on #609
Oh my gosh - yes, I completely messed up a mapped configuration in FFMPEG and thought this was AAC already, but of course you are correct. It now plays but it looks like there is a weird skipping ahead problem, I will try to investigate that in other issues first and open a different issue if I can't find anything. Thank you!

[2016-08-02 13:53] #609 closed

[2016-08-02 14:05] joshdickson40 commented on #609
In case anyone else finds this in the future, I was able to solve my AAC skipping issue by placing #EXT-X-DISCONTINUITY prior to every #EXTINF directive.

Thanks again, @blacktrash!!!

[2016-08-02 22:50] Prendo93 commented on #585
I am trying to allow viewers to listen to the original audio, or two (eventually many) different ones (I just permuted the original audio in a separate manifest and duplicated it for tests)
As such the Audio group has 3 manifests:

`#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="aac",LANGUAGE="en",NAME="Main"`
^ This signals the original audio, that is muxed into the main playlist (available at video/stream.m3

[2016-08-03 10:27] streamuk-joe commented on #585
Another issue on a related issue is when there is a empty #EXT-X-MEDIA:TYPE=AUDIO used to signify the player to return to the embedded audio after using an alternative.  Safari correctly displays 4 languages.

This not currently working in v0.6.2-3.

#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=4586000,RESOLUTION=1920x1080,CODECS="avc1.66.30",AUDIO="video1"
http://194.50.90.129/vod/videoANDaudio.mp4/chunkl

[2016-08-03 10:30] streamuk-joe commented on #585
Your last fix on this should ONLY be invoked in the presence of the URI less

#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="video1",NAME="original",DEFAULT=NO,AUTOSELECT=NO,LANGUAGE="--"

Let me see if I can fix that for you.

[2016-08-03 12:57] yevheniiminin opened #610 "Do not make a load request if url for it is not set"
If an audio stream doesn't have URI property hls.js will make a call to undefined url which will default to page url, thus producing extra request

##### Steps to reproduce
1. go to http://dailymotion.github.io/hls.js/demo/?src=https://content.uplynk.com/b992f672dbbd4cd28324099aa5f190bf.m3u8
2. Open network tab in Chrome
3. Click `XHR`
3. filter by `hls.js`
4. see an XHR call made to page url

###

[2016-08-04 07:41] mashihua opened #611 "Occured gaps at the end of the audio segment"
When I play this video
[http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fvideo.ottcloud.tv%2Ftuxiaobei%2Fvideos%2Fdst3%2Fsong%2F401_20160713220001%2Fhls0800k%2F401.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=mp4a.40.5](hls.js demo)
, it throw Uncaught TypeError: Cannot read property 'pts' of undefined Error.
Look at the code https:/

[2016-08-04 07:58] itaykinnrot opened #612 "Firefox - Big Gap between base profile to main profile h264 segments"
- [ ] The stream has correct Access-Control-Allow-Origin headers (CORS) - please use CORS header plugin since my test server doesnt return them

- [ X ] There are no network errors such as 404s in the browser console when trying to play the stream
- [ X ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [  X ] The issue occurs i

[2016-08-04 09:49] mashihua commented on #611
The #594 dose not solve this problem. the remuxEmptyAudio method add this. _initDTS to calculating startDTS and endDTS, but in my example it creating the empty audio samples.

[2016-08-04 10:15] mashihua commented on #611
Just feel sorry for the rude behaviour.

###Environment

- [ ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [ ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference

[2016-08-04 20:31] phillydogg28 opened #613 "ChromeOS hls videos do not play"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-04 20:49] phillydogg28 commented on #613
I disabled "Hardware-accelerated video decode" in chrome://flags and videos started to work on ChromeOS. This isn't an ideal solution for clients but hopefully can help debug the problem.

[2016-08-05 00:14] cpeterso commented on #316
According to [Firefox bug 1254712 comment 73](https://bugzilla.mozilla.org/show_bug.cgi?id=1254712#c73), HLS.js can now play the Air Mozilla live stream correctly in Chrome 51 and 52. Safari 9 is the only browser that still can't play the stream with HLS.js.

[2016-08-05 05:52] jlmcdonald commented on #613
I'm wondering if Chrome 52 has introduced some changes with either video decoding or even MSE ... we've also noticed a lot of video decode errors on Chromebooks the past few days (they can be recovered with hls.recoverMediaError(), but that also isn't ideal as it unloads the media and flashes the poster image for a fraction of a second) on streams that used to work smoothly; there's also a lot mor

[2016-08-08 12:32] Halynsky opened #615 "Error while loading m3u file (After update to new version of Chrome)"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-09 00:45] lafraia commented on #615
Having same issue here after Chrome update

Chrome version (Mac): 52.0.2743.116 (64-bit)
Streaming URL: https://stream.vagalume.fm/hls/14623883771774082279/index.m3u8

[code]

[2016-08-09 01:07] jsardas commented on #615
I can reproduce the exact same issue specifically with latest Chrome, but it seems to happen only when the following conditions are met:

- the URL is a direct playlist and not a master playlist
- the response headers contain either a `no-cache` directive or a very short expire time

Reference:
`Last-Modified: Tue, 09 Aug 2016 00:35:14 GMT`
`Cache-Control: no-cache`

If any of these conditions cha

[2016-08-09 03:09] Halynsky commented on #615
Thank you guys for confirmation. Deleting of the header "Cache-Control: no-cache" really helps in my situation with Chrome

[2016-08-09 15:13] apolo-gh opened #617 "Hls doesn't reset its internal state when new stream is loading"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-10 12:00] StevanCakic opened #618 "Hls .loadSource() problem,load more than one m3u8 file"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-11 14:47] proxy-m commented on #421
Only in Google Chrome:

"buffer-controller.js:76 Uncaught (in promise) DOMException: The play() request was interrupted by a new load request."
:
try {
        // unlink MediaSource from video tag

        this.media.removeAttribute('src');
      } catch(err) {
        logger.warn(`onMediaDetaching:${err.message} while unlinking video.src`);
      }

hls.js version: https://github.com/dailymotion/

[2016-08-11 15:41] J4D3N commented on #615
I'm also having this issue on Chrome (tested on Firefox and it appears to be working as expected). Is there a more permanent fix for Chrome?

[2016-08-11 17:49] jsardas commented on #615
It seems like the xhr request that is performed by hls.js to reload the playlist after a level has been selected might attempt to reuse a cached version in Chrome, and this somehow creates an issue if the original response had a "Cache-Control: no cache" header.

This would also explain why using a master playlist also solves the issue, because a reload for the actual (direct) playlist is forced e

[2016-08-11 20:54] sompylasar commented on #421
@proxy-m @mangui Looks like this exception cannot be ever caught, regardless of `try..catch`.

[2016-08-11 21:49] xlazom00 opened #619 "add support for HEVC(H265)"
With latest Windows 10 Aniversery update, microsoft add support for HEVC in  Edge browser.
So it should be easy to add support this new codec

this is DASH demo
http://dashif.org/reference/players/javascript/v2.2.0/samples/dash-if-reference-player/index.html
with this HEVC mpd that work on MS EDGE
http://dash.edgesuite.net/dash264/TestCasesHEVC/1a/1/TOS_OnDemand_HEVC_MultiRate.mpd

I made HLS demo

[2016-08-11 22:41] cpeterso commented on #619
btw, AFAIU Windows 10 will not include an HEVC/H.265 software codec. It will only work on machines with hardware support for HEVC/H.265.

[2016-08-12 05:03] jsardas commented on #618
The m3u8 playlist is re-loaded after a level is automatically selected; this is normal...

`hls.js:6 [log] > loadSource:http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8`
`hls.js:6 [log] > switching to level 3`
`hls.js:6 [log] > (re)loading playlist for level 3`
`hls.js:6 [log] > level 3 loaded [0,63],duration:634.584`

Being a text file, re-loading the m3u8 playlist in this case has a minima

[2016-08-12 13:16] mangui commented on #591
Available in v0.5.42

[2016-08-12 13:16] #591 closed

[2016-08-12 16:02] sompylasar opened #620 "Uncaught TypeError: Cannot read property 'removeEventListener' of null in onMediaSourceOpen"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-12 16:42] sompylasar opened #621 "`hls.swapAudioCodec` docs are misleading, self-contradicting"
The first line says "If media error **are still raised after** calling `hls.recoverMediaError()`, ..." (implies that `hls.recoverMediaError()` is called **first**).

The second line says "first call `hls.swapAudioCodec()`, **then call** `hls.recoverMediaError()`." (implies that `hls.recoverMediaError()` is called **second**)

[2016-08-13 20:06] waster commented on #615
I confirm this issue in latest Chrome and Opera. Removing of the header "Cache-Control: no-cache" does not help, because in some cases timeout is still triggered.

[2016-08-13 22:58] jsardas commented on #615
Hi @waster,

Are you using Expires in your headers? I noticed that timeout is occasionally triggered when using an expire time with a very short duration (i.e. a few seconds), but I haven't been able to reproduce the timeout when both Cache-Control and Expires are completely removed from the headers.

[2016-08-13 23:13] waster commented on #615
@jsardas I think that it's not right to remove `Cache-Control` or `Expires`  headers because in this case `Access-Control-Allow-Origin` header will be cached and it can cause CORS problems if you'll try to access m3u8 with multiple tabs on different domains and if `Access-Control-Allow-Origin` is set as origin (e.g. in case of using `Access-Control-Allow-Credentials: true`).

[2016-08-13 23:47] jsardas commented on #615
@waster I understand your point... however, in order to attempt to identify if the issue originally reported is indeed related to caching in Chrome or not, would it be possible for you to confirm if the cases where you are still encountering the timeout have a short expire time set in the headers? In other words, even if Cache-Control is removed, is the request supposed to expire in just a few sec

[2016-08-13 23:56] waster commented on #615
@jsalaj Do you mean to test timeout with only `Expires` header with short time without `Cache-Control` header?

[2016-08-14 01:56] jsardas commented on #615
@waster , you mentioned that removing the `Cache-Control: no-cache` header didn't help in your testings since you found that in some cases the timeout was still triggered. My point is trying to determine if those specific cases you are referring to might have been caused by a very short expire time, based on the `Expires` header variable.

There is a (relatively) short time between the moment hls.

[2016-08-14 13:44] waster commented on #615
@jsardas, Hm, when I set "expires -1;" in my nginx.conf it actualy sets `Expires` header's value to `Date` header minus 1 sec and `Cache-Control: no-cache` header. So actually Expires header contains date is in the past, and browsers should consider request  as being equivalent to the Cache-Control response directive "no-cache", right?

[2016-08-14 16:39] jsardas commented on #615
@waster, yes, Nginx handles this automatically and if a negative value is assigned to `expires` in config (i.e. `expires -1`), `Cache-Control` is added with `no-cache` value; a positive `expires` value generates a `Cache-Control: max-age=X`. But since these header variables can also be tweaked manually in some other cases, it would be possible for a response not to include `Cache-Control` but stil

[2016-08-14 17:58] waster commented on #615
@jsardas Second reload of the playlist is performed very quickly, on the stage of reloading playlist for level 0 (BTW, I see that hls.js always runs initial 2 requests on the direct playlist, one for manifest loading, and second for level 0 reloading, is it not that bad for those who cares for http statistic, etc?) and timeout originates here.  I attached image with some notes.

![Timeout](https:/

[2016-08-14 18:11] jsardas commented on #615
@waster, the playlist that is used in your test includes a `Cache-Control: no-cache` directive:

curl -I http://hls.01.radio7.emgsound.ru/13/128/playlist.m3u8
HTTP/1.1 200 OK
Server: nginx/1.10.0
Date: Sun, 14 Aug 2016 18:04:36 GMT
Content-Type: application/vnd.apple.mpegurl
Content-Length: 264
Last-Modified: Sun, 14 Aug 2016 18:04:35 GMT
Connection: keep-alive
ETag: "57b0b2b3-108"
Expires: Sun, 1

[2016-08-14 18:47] waster commented on #615
@jsardas, yes, because I want to demonstrate timeout issue itself. Will try to set Expires header later.

[2016-08-14 20:59] jsardas commented on #615
I also tested the following workaround which modifies the playlist (m3u8) request by appending a random querystring via XHR, forcing Chrome to re-download the playlist instead of attempting to use a local cache (304):

    var config = {
      xhrSetup: function(xhr, url) {
        if (url.split('.').pop() == 'm3u8') {
          url = url.replace('m3u8', 'm3u8?rd=' + Math.random());
          xhr.

[2016-08-15 08:07] chjcken commented on #615
Hi @jsardas and @waster

I'm facing this issue too. But I control cache using Etag header, you can see below

and sure there is no Cache-Control or Expire header but whenever I return status 304, stream will stuck and Hls fire LevelLoadTimeout error

Btw, if my streamUrl is a master playlist, stream will play fine as @jsardas said above and certainly both master and level playlist request are resp

[2016-08-15 12:22] ronag opened #623 "Does HLS handle audio priming?"
Some encoders add audio priming at the start of HLS segments which can cause distorted and un-synced audio. This is especially the case when the encoder doesn't know that the audio is part of a segmented encoding.

I'm not sure if there is something wrong with my HLS segments or whether HLS.js doesn't handle audio-priming. I thought I'd check here if HLS.js handles audio priming or not before star

[2016-08-15 13:14] Halynsky commented on #615
In our investigation of this problem we found similar problem. We made some simple test. I want to show You guys results in Chrome and Mozilla. This problem is only if timeout is very low:

Code:
![1](https://cloud.githubusercontent.com/assets/8502557/17665288/b33c680a-6302-11e6-97f0-a1c21b9d158a.png)

Chrome:
![2](https://cloud.githubusercontent.com/assets/8502557/17665305/cbbfc7dc-6302-11e6-8c1e

[2016-08-15 17:38] podman opened #624 "No audio tracks detected when there actually are audio tracks, dies when audio track actually starts"
##### Environment

- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [X] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-15 20:54] jlacivita commented on #585
Any idea when we might get a release with this feature?
Even if Live isn't ready, it'd still be very valuable for VOD.

[2016-08-16 08:37] streamuk-joe commented on #585
@jlacivita, it is working. My comment above was an slight amendment.

[2016-08-16 12:49] streamuk-joe commented on #624
`mediastreamvalidator -t 5 https://sproutvideo-examples.s3.amazonaws.com/bad_hls/index.m3u8`

[code]

[2016-08-16 12:53] streamuk-joe commented on #624
I dont think your HLS stream is healthy, try with ffprobe or mediastreamvalidator and it complains about empty audio.

[2016-08-16 13:00] streamuk-joe commented on #585
related to https://github.com/dailymotion/hls.js/issues/610

[2016-08-16 13:38] segvic commented on #481
Hi - I've also experienced this problem with nginx and latest version of chrome - but the same version of chrome browser acts differently on different hosts (with same Win10 OS) - with diffrenet levels of success rate of loading HLS video... On some hosts it's 10% on some 90%... Crazy stuff.

Anyway - the only thing that helped - solved the problem - was a master play list.

A static file to which

[2016-08-16 13:43] segvic commented on #615
I've also experienced the same issue with HLS streams coming from nginx and latest versions of Chrome. The problem is that the same chrome versions on different hosts with the same os (Win 10) behave differently - on some the success rate of loading the stream is 10% and on other is 90%. Crazy stuff.

Anyway, what helped - solved the problem - was a master play list file, to which to point the pla

[2016-08-16 14:50] radiantmediaplayer opened #625 "HLS with audio+video and audio-only renditions (App Store requirement) issue"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-16 15:58] jlacivita commented on #585
@streamuk-joe: great! you mean live is working, too, or the VOD alternate audio feature is complete?

[2016-08-16 17:46] mangui commented on #623
Hi @ronag
HLS.js extracts AAC frames from PES packets available in MPEG-2 TS or directly from AAC container.
AFAIK there is no way to convey audio priming info in MPEG-2 TS or AAC container.
this should be packaged appropriately at encoder level.
if your media contains both audio and video, playable range would be the intersection of audio and video buffered range. as a consequence you should be a

[2016-08-16 19:06] mangui commented on #585
Live not there yet.

[2016-08-16 19:13] ronag commented on #623
@mangui: One follow up question, does HLS.js handle negative pts on the audio track? Usually the first audio packet will end up with a `pts=-priming_samples` so that the first sample that should be played is `pts=0`.

[2016-08-16 20:32] mangui commented on #623
Yes, it handles negative offset between first audio and video pts. You should be able to see this in fragment parsing logs. You won't see negative pts value but an offset between first audio and video pts.

[2016-08-16 20:35] SirBryan opened #626 "Chrome dropping audio frames on live streams encoded by Apple's mediastreamsegmenter"
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [X] The issue occurs in the latest reference client on http://dailymotion.github.io/hls.js/demo and no

[2016-08-17 08:41] mangui commented on #620
Hi @sompylasar could you recheck with latest hls.js/master (you need to rebuild the dist)
your issue should be fixed.

[2016-08-17 08:44] mangui commented on #621
the media error recovery workflow is usually as follow:

on first media Error, call  `hls.recoverMediaError()`
if another media error is raised 'quickly' after this first media Error, try to swap audio codec before calling again recover media error:
`hls.swapAudioCodec()`
`hls.recoverMediaError()`

[2016-08-17 11:08] waster opened #627 "#EXT-X-DISCONTINUITY silence gap while playing"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-17 11:10] sompylasar commented on #620
Hi @mangui, thank you! From reviewing the code, this should be fixed.

I 've discovered that it was my mistake of removing the check for the `fatal` flag, as only `fatal` `Hls.ErrorTypes.MEDIA_ERROR` errors were properly recovered, that's why the error was discovered -- the buffer error is a `Hls.ErrorTypes.MEDIA_ERROR`, too. After I've filtered out only fatal media error to recover from, the erro

[2016-08-17 11:12] sompylasar commented on #621
Thanks, this https://github.com/dailymotion/hls.js/commit/3ecc32082af3d5c047ba21695f843c8879089ecb looks much clearer!

[2016-08-17 11:12] #621 closed

[2016-08-17 12:09] blacktrash commented on #623
@ronag - FYI, in case you want to submit your streams to the Apple Store (I don't think it's a problem otherwise), or simply want to make them pass the mediastreamvalidator test: iirc it will complain about negative timestamps; can be circumvented by setting a start time and first pts > 0 (some encoders/muxers do so by default, up to 10 secs).

[2016-08-17 13:34] mangui commented on #619
supporting HEVC parsing would require:
writing a `parseHEVCPES()` in tsdemuxer:
 - different NAL unit type should be considered, refer to http://iphome.hhi.de/wiegand/assets/pdfs/2012_12_IEEE-HEVC-Overview.pdf , table 1
 - report codec type as being hevc.*

modify mp4-generator:
 - generate hvc1 / hvcC mp4 box when needed

[2016-08-17 15:55] redoPop commented on #584
This issue is present for some TED talks, too. An example case:

##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io/hls.js/demo and not just on my page
* **Link to playable

[2016-08-17 18:29] redoPop opened #628 "Audio lags behind video by multiple seconds after seeking to unbuffered segments"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-17 19:54] xlazom00 commented on #619
I am working on it

[2016-08-17 20:49] gkindel commented on #615
I've been able to work around this with a setTimeout 0 for xhr.send() within xhr-loader.js, as the browser doesn't actually seem to do anything if it's in the same call stack as the previous loadsuccess.

Also confirm the fix of removing the ETag from the m3u8 response, but I'm not going to do that.

It's definitely a Chrome thing, and is reproducible by using a minimal XHR test.

[2016-08-17 20:59] mangui commented on #615
That's interesting. Anything in chrome bug tracker ?

[2016-08-17 21:59] gkindel commented on #615
No ticket that I've found.   The bug is actually pretty hard to reproduce.  In debugging via proxy header rewriting, I've only had it happen when there is an ETag but not any Expires or Cache-Control headers, which is unfortunately my case.   Adding either "fixes" the minimal test case for me.

[2016-08-17 22:25] waster commented on #615
@gkindel hm, I removed etag header from m3u8 response and it did not help to fix timeout.

[2016-08-17 23:18] gnitnuj commented on #613
Like @phillydogg28, I wasn't able to get video to render until disabling "Hardware-accelerated video decode" either. Going to investigate further.

[2016-08-18 01:12] mpaldheCM opened #629 "Video does not play if first chunk does not have video codec information"
##### Environment
- [ Yes ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ Yes ] There are no network errors such as 404s in the browser console when trying to play the stream
- [Could not find any relevant issues ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ Yes ] The issue occurs in the latest ref

[2016-08-18 12:14] mangui commented on #615
ok I can reproduce, i am on it.
basically I will try to avoid this double request when there is no master playlist.
related to https://github.com/dailymotion/hls.js/issues/49

[2016-08-18 14:13] mangui commented on #594
Hi @JHartman5 this video is now playing but there are remaining AV sync issue. I got the same results in VLC, thus closing

[2016-08-18 14:13] #594 closed

[2016-08-18 14:16] JHartman5 commented on #594
Yes, there are sync issues -- I simply wanted it to play through. Thanks!

[2016-08-18 14:46] gkindel commented on #615
Thanks for looking!  I'll take a look at your patch.  You may also want to verify that the live polling works. I appear to be having issues even with my earlier workaround.   Code appears to successfully poll (with unchanged, cached response) but chrome never logs the request in the network tab.

[2016-08-18 14:54] mangui commented on #332
MP3 in MP4, audio config box : https://github.com/tchakabam/multimedia.js/blob/master/src/mp4-mux.js#L311

MP3 parsing in JS : https://github.com/tchakabam/multimedia.js/blob/master/src/mp3-parser.js

[2016-08-18 14:58] redoPop commented on #108
It looks as though #411 and #199 merged in CEA-608/708 support, and a note was added to the readme in #464.

Should this issue be closed?

[2016-08-18 15:01] mangui commented on #108
indeed

[2016-08-18 15:01] #108 closed

[2016-08-18 15:23] mangui commented on #624
indeed,
`ffprobe -i "https://sproutvideo-examples.s3.amazonaws.com/bad_hls/wayne_00000.ts" -show_packets -print_format csv | grep audio`

shows that an AAC track is referenced in PMT, but there is no audio samples.

it does not work when using a variant manifest as your variant manifest is signaling this audio track
[code]
but no audio samples are found by the demuxer; hence the buffer controller

[2016-08-18 15:30] podman commented on #624
I created this using FFMPEG from a seemingly normal mp4. Would this point to a bug in FFMPEG?

The audio samples only start in the second segment because the audio is delayed.

`ffprobe -i "https://sproutvideo-examples.s3.amazonaws.com/bad_hls/wayne_00001.ts" -show_packets -print_format csv | grep audio`

[2016-08-18 15:56] glebglushtsov opened #630 "Add method to seek live video to realtime"
Hi @mangui
I use your library and reached a point as some other people when I would like to resume live video playback after pause to actual stream rather play stalled data. I noticed that you propose to handle it the following way:

`video.curentTime = video.duration - 3 * fragDuration;`

The question is if you are going to implement that feature in library or prefer that kind of things to be man

[2016-08-18 16:01] streamuk-joe commented on #624
I'd invite you post your ffmpeg command here but I suspect its not the right forum.  Silence would be OK I guess, but your content has odd "start" data.

[2016-08-18 16:12] tjenkinson commented on #630
Note it's not always `3` as this is configurable. In Clappr we do something along the lines of
[code]

I think it would be nice if there was a method that would return the time of the live point, doing a calculation similar to this.

[2016-08-18 16:14] blacktrash commented on #624
imho, one of the problems is that there is no strict standard for MPEG-TS streams, and also the hls spec is not clear in this regard, nevermind that it's called a draft.
https://sproutvideo-examples.s3.amazonaws.com/bad_hls/wayne.m3u8 passes Apple's mediastreamvalidator, and probably works in most 'generic' implementations.
I think comments like https://github.com/dailymotion/hls.js/issues/536#iss

[2016-08-18 16:15] glebglushtsov commented on #630
@tjenkinson,
agree, i also use config param as multiplier. it was just a rough example

[2016-08-18 16:48] mangui commented on #630
basically one idea would be to export [that code](https://github.com/dailymotion/hls.js/blob/master/src/controller/stream-controller.js#L829-L846) which computes startPosition into a method that would be accessible through a getter/setter `hls.startPosition` or something similar

then you would have to do `video.currentTime = hls.startPosition;` to seek back to start/live point

[2016-08-18 16:54] mangui commented on #624
MediaSource (at least on Chrome and FF) does not allow support adding more tracks during playback.
ie in your case all sourcebuffers need to be created at once before any samples are injected into the sourcebuffers.
see https://www.w3.org/TR/2015/CR-media-source-20150331/#widl-MediaSource-addSourceBuffer-SourceBuffer-DOMString-type

if you try to create audio sourcebuffer on second fragment, it wi

[2016-08-18 17:02] mangui commented on #612
@itaykinnrot looks like your stream is down ?

[2016-08-18 17:10] mangui commented on #605
you can eventually write your own remuxer to catch raw audio samples

[2016-08-18 17:48] mangui commented on #617
Hi @apolo-gh startPosition should be correct now.
I am also now flush pending segments on BUFFER_RESET, this should fix the media decode error on sourcebuffer creation.

[2016-08-18 17:51] mangui commented on #617
you can check here your test page here
http://dailymotion.github.io/hls.js/tests/functional/issues/617

[2016-08-18 17:57] mangui commented on #629
see https://github.com/dailymotion/hls.js/issues/624#issuecomment-240786445

basically it is not possible with MediaSource to dynamically create sourcebuffers during playback.
the API somewhat allows it but most browsers don't support it.

As a consequence, even if hls.js is able to detect that video is available in the second fragment, this track cannot be played as it is too late to create the s

[2016-08-18 18:01] mangui commented on #625
Hi @radiantmediaplayer plz refer to https://github.com/dailymotion/hls.js/issues/629#issuecomment-240804152

basically because of this, audio-only cannot be played (should be discarded?) if there are also audio+video tracks available. or the other option would be to force a recoverMediaError() when switching between audio only  AND audio+video tracks, to reset the MediaSource/sourceBuffers.

[2016-08-18 18:20] mangui commented on #628
Hi @redoPop
I can reproduce following your scenario,
interestingly I was not able to reproduce  if always seeking in buffered area, do you also observe the same on your side ?

[2016-08-18 22:11] waster commented on #615
@mangui Hm, can you please try to check [this](http://dailymotion.github.io/hls.js/demo/?src=%2F%2Fhls-01-radio7.emgsound.ru%2F13%2F128%2Fplaylist.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined) link? It's still timeout there however it starts to play after timeout.

[2016-08-18 22:31] mangui commented on #615
@waster this is a live without master playlist.
after loading manifest, stream controller switches to level 0, this triggers another manifest reload because of the details.live === true condition
![image](https://cloud.githubusercontent.com/assets/1798553/17792876/cbacf014-65a3-11e6-92c4-d68830fc1d73.png)

as a consequence another xhr request on the same URL is done synchronously in loadsuccess()

[2016-08-19 01:21] colek42 commented on #256
@mangui, firefox, and chrome do not need the fMP4 segments to be keyframe bounded.  This fork is an example how to stream MPEGTS to the browser over websockets.  It is unstable but the latency was within about 300ms of VLC.

[2016-08-19 08:01] radiantmediaplayer commented on #625
IMO the best thing to do would be to discard the audio-only track if it can be confirmed that the other tracks are mixed audio+video. I think the CODECS information in the manifest can help telling if we have mixed content or not. Maybe this can be added as a setting if not everyone wants this behaviour. App Store compliant HLS feeds are common amongst encoding/streaming solutions.

[2016-08-19 09:38] SirBryan commented on #626
After additional testing, I feel my suspicion that the last packet of the parsed audio stream is getting corrupted has been confirmed.

[2016-08-19 10:01] mangui commented on #626
Hi @SirBryan do you mean that the last packet is corrupted at packaging level ? or demuxing level ?

[2016-08-19 10:26] SirBryan commented on #626
I'm guessing somewhere in demux/remux.  I started looking at the demuxer code, but am not (yet) familiar enough with AAC internals to pick it apart. That, and it's into the wee hours of the morning, so I'm turning in.

(Sent while mobile)

[2016-08-19 11:02] m3taverse opened #631 "increasing AV desync as stream is playing"
##### Environment
- [X ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X ] There are no network errors such as 404s in the browser console when trying to play the stream
- [ X] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues

Issue 218 looks a lot like this one, but it's closed

- [ X] The issue occurs in t

[2016-08-19 12:50] Guro opened #632 "Is there a way to disable "Accurate Seeking"?"
is there a way to disable "Accurate Seeking on VoD & Live (not limited to fragment or keyframe boundary)" in my case i prefer to seek to fragment/keyframe

[2016-08-19 12:58] mangui commented on #615
Hi @waster plz recheck
http://dailymotion.github.io/hls.js/demo/?src=%2F%2Fhls-01-radio7.emgsound.ru%2F13%2F128%2Fplaylist.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

chrome issue with live without master playlist should be fixed now

[2016-08-19 13:02] alexborisyuk commented on #377
Hi @mangui ! I use version 0.6.2-4 and in this version this problem with poster-image still exists (in latest 0.5.44 issue fixed).
Two simple examples - http://jsfiddle.net/u07wskn9/1/ and http://jsfiddle.net/u07wskn9/ - in pre-release v0.6.2-4 is problem with poster-image.
Is there a quick trick to solve this problem? Thanks!

[2016-08-19 13:49] alexborisyuk opened #633 "Problems with compression code of hls.js using Yahoo compressor (yuicompressor)"
I use uncompressed hls.js in my project. To compress code I use Yahoo compressor (https://github.com/yui/yuicompressor).
The source code of this hls.js module is using JS reserved words **catch** and **default** this words are indeed marked as reserved
https://github.com/yui/yuicompressor/blob/master/src/com/yahoo/platform/yui/compressor/JavaScriptCompressor.java#L181-L183
In the result I can not

[2016-08-19 14:05] SirBryan commented on #631
This is ultimately the symptom I'm seeing on #626, but the debug on media internals is different.

[2016-08-19 15:01] slash851 opened #634 "when autoStartLoad: false player doesnt play"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-19 15:11] blacktrash commented on #634
Do you call `startLoad()` in your app: https://github.com/dailymotion/hls.js/blob/master/API.md#network-loading-control-api ?

[2016-08-19 15:23] blacktrash commented on #632
Do you experience any problems with seeking? As far as I know the distinction is only needed for flashls: https://github.com/mangui/flashls#configuration - and not for hls.js.

[2016-08-19 16:03] glebglushtsov commented on #630
#635

[2016-08-19 16:06] mangui commented on #377
seems related to https://github.com/dailymotion/hls.js/commit/5866924f653a9709a404e34bd400ca0d52ea45aa

[2016-08-19 16:23] alexborisyuk commented on #492
@mangui Could you please take a look at my question?
Some seek/bitrate switch issues were exist in Chrome. It appear that Chrome browser prior to version 50 did not support HLS fragments which do not start from a key frame.
Two bugs were opened regarding Chrome such playback issues in October - November 2015:
https://github.com/dailymotion/hls.js/issues/23
https://github.com/dailymotion/hls.js/iss

[2016-08-19 16:59] glebglushtsov commented on #630
pull request #636

[2016-08-19 18:01] waster commented on #615
@mangui Great work, thanks!

[2016-08-21 10:56] blacktrash commented on #626
@SirBryan - just in case, for safety you may want to double check whether this happens also in generic playback; I don't have experience with mediastreamsegmenter for live, but when I tested mediafilesegmenter for VOD (so far I haven't tried the latest version) it truncated VOD duration of some videos, because it (over)aggressively discards TS overhead.
Note as well that sometimes mediafilesegment

[2016-08-21 13:16] SirBryan commented on #626
I don't use mediafilesegmenter for anything. Live streams get converted to VOD when the program is finished.

What I will do is check to see that Chrome isn't spitting out the same playback errors on the VOD streams as it does on live.

(Sent while mobile)

[2016-08-22 10:38] Guro commented on #632
No problems but i'm generating preview thumbnails based on keyframes, so i prefer to seek to keyframes

[2016-08-22 12:08] waster commented on #615
@mangui Can these commits be added in 0.5.44 or next 0.5.45 stable release?..8)

[2016-08-22 14:28] redoPop commented on #628
I observe the same here, yep.

[2016-08-22 21:40] apolo-gh commented on #617
Looks good. Thank you! Looking forward for next release.

[2016-08-23 04:58] SirBryan commented on #626
I've confirmed this only happens when the playlist is an EVENT (live).  Once it's converted to VOD, it doesn't have any problems playing and stays in sync for the duration of the recording.

[2016-08-23 06:44] SirBryan commented on #626
So a couple of VOD tests end up failing after the first TS segment.

[code]

[2016-08-23 07:35] blacktrash commented on #632
Depends how you want to use thumbnails.
I presume you want to do some kind of chapter jumping, then you have to work with cuepoints (which you set at the keyframe interval in your case), like in this: https://flowplayer.org/demos/timeline/#thumbs-demo (generated cues) or this: http://demos.flowplayer.org/scripting/chapters.html - if you want to prevent seeking to other positions entirely, you have

[2016-08-23 09:04] slash851 commented on #634
Just find out that it plays after second startLoad() call.

Workflow when autoStartLoad is FALSE
**1. player load and media attached to the video.**
LOGS:
  [log] > attachMedia
  [log] > media source opened
  [log] > loadSource:http://localhost:80/p/103/sp/10300/playManifest/entryId/0_g58q926…2e6e1a-092b-b997-a6a7-ae13b0e31995&clientTag=html5:v2.42&uiConfId=23448542
  [log] > trigger BUFFER_RESET

[2016-08-23 09:07] simonemazzoni opened #638 "Custom loader unclear documentation"
##### Environment

- [ ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [ ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-23 09:46] iongion opened #639 "Flooding repetitive unstoppable requests on fragLoopLoadingError"
On the latest version `0.6.2-4`

The network traffic shows repetitive, uncontrollable re-download of the specified mpeg-ts file
[code]
The stream plays well without any issues on Apple devices, but there might be something wrong with the segmentation that makes it non-compliant with HLS.js, but this is what I am try to find out.
The URL to this segment is http://testing-media-euw1.keemotion.com/ga

[2016-08-23 10:35] h-kaseya opened #640 "audio buffer not filling when using alternate audio tracks with maxMaxBuffer less than media duration"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-23 14:55] sergiojm opened #642 "VOD with multi audio end of stream"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-23 18:01] sergiojm commented on #642
Change of audio after endOfStream() is raised dont play audio track:

[log] > parsed video,PTS:[240.040,240.200],DTS:[240.000/240.200],nb:5,dropped:0
logger.js:37 [log] > engine state transition from PARSING to PARSED
logger.js:37 [log] > main buffered : [0,18][202,240.2]
logger.js:37 [log] > engine state transition from PARSED to IDLE
logger.js:37 [log] > all media data available, signal endOfStr

[2016-08-23 18:16] sergiojm opened #643 "Vod multiaudio - audio buffer is not handled properly"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-24 04:50] frankpaolino opened #644 "VOD stream won't play Chrome and Safari w/ HW Acceleration on, however worked several months back"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-24 05:41] jyavenard commented on #619
Note that Firefox has no intention of ever supporting h265.

[2016-08-24 07:00] smedegaard opened #645 "Gitter or Slack channel"
Hi.

It would be super nice if we could have a Gitter or Slack channel to ask about small quirky things that does not qualify as a Github issue.

I see that there is a [Dailymotion channel on Gitter](https://gitter.im/orgs/dailymotion/rooms). But there's 1 room and 1 person so probably not an official channel?

[2016-08-24 07:33] mangui commented on #645
Good idea. I will create one shortly

[2016-08-24 08:17] smedegaard opened #646 "video element error 4 on Windows"
##### Environment
We have developed a video player at my job that has a number of video handlers (HTML5, Flash, DASH, HLS). The HLS video handler is extended from our HTML5 handler and uses hls.js for m3u8 playback. This works fine on all browsers on Linux (tested on Ubuntu), but on Windows the `<video>` throws a [code 4 error](https://developer.mozilla.org/en-US/docs/Web/API/MediaError) (The asso

[2016-08-24 09:29] radiantmediaplayer opened #647 "Repeated levelLoadError (non-fatal) when stopping a live HLS stream"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-24 10:21] dighan commented on #646
Hi ! Do you invoke `hls.destroy()` at some point before loading a new source (`e.g loadSource()`) ?

[2016-08-24 10:24] smedegaard commented on #646
Hi @dighan, I actually never call `hls.destroy()`

[2016-08-24 14:19] steffentchr commented on #422
This could potentially be solved with [conditional comments](https://en.wikipedia.org/wiki/Conditional_comment) in old versions of Internet Explorer.

My suggestion would be to have the build script create a third file called `hls-iecompat.min.js` which would simply wrap the already minified contents:

    /*@cc_on @*/
    /*@
      @if (@_jscript_version > 10)
      @*/
    <hls.min.js goes here>

[2016-08-24 15:14] blacktrash commented on #422
@steffentchr - interesting, because it works. FWIW, our workaround ended up not doing so.

[2016-08-24 21:06] xlazom00 commented on #619
@jyavenard it was same with h264. It is all about money :)

[2016-08-24 21:45] jyavenard commented on #536
Firefox will increase the gap threshold from 125ms to 500ms in Firefox 51 (and likely 50)

[2016-08-25 06:32] xlazom00 commented on #619
And this solve my Chrome problem

[2016-08-25 10:16] smedegaard commented on #646
turns out that we had `this.videoElement.load();` in our `load()` function in the HTML5 handler that caused this behaviour.

[2016-08-25 10:16] #646 closed

[2016-08-25 11:51] blacktrash commented on #536
@jyavenard - I think that's good.
I couldn't find anything which forbids this in MPEG-TS and neither in the pantos _drafts_. For better or worse the specs are so loose in some areas that one can't do strictly the right thing[tm]. It's more a pragmatic compromise/tolerance question.

[2016-08-26 12:29] pac-work opened #651 "Error in playback of live stream with DTS / PTS values using full 33 bit range"
##### Environment

- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
 - It is probably not, but it might be related to #483.
- [X] The issue occurs in the

[2016-08-26 15:24] yunbj opened #652 "(Firefox) audio goes to a strange position."
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-08-26 16:36] redoPop opened #653 "Firefox: "playback seems stuck" in readyState=2, but there are no incomplete network requests"
Playback of some TED Talks videos occasionally stalls in Firefox, with the player chrome indicating a loading/buffering state and the media element indicating a `readyState` of `2`, but no network requests are pending or errored, and the final byte range requests in the network tab are more than two minutes ahead of the frozen player position.

At first I thought this might be related to #448, but

[2016-08-26 17:19] danrossi opened #654 "608 Caption cue position hardcoded"
Sorry but there doesn't seem to be any documentation. It seems here you are hard coding vertical position

https://github.com/dailymotion/hls.js/blob/master/src/utils/cues.js#L54

No cue css can override this it seems. It is showing up in the middle of the video area and a little bit from the left, so not even at the bottom.

It needs to go top left. I believe this is the standard place for live c

[2016-08-29 12:59] aolko opened #655 "Canvas + hls.js?"
Hey there, can i use canvas and hls.js to combine custom html overlay and live stream via hls.js?

[2016-08-29 13:24] FeniXenAaaa opened #656 "Don't load audio if there is no URI for it in manifest"
##### Environment

- [x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.i

[2016-08-29 16:36] mangui commented on #645
@smedegaard done, plz check link on README

[2016-08-29 16:36] #645 closed

[2016-08-29 16:54] mangui commented on #645
test

[2016-08-29 18:52] jlacivita commented on #585
Thanks for the release @mangui!

[2016-08-29 23:34] xlazom00 commented on #619
https://github.com/xlazom00/hls.js/commit/db6a87552e6b07ec36eb952b2eb700fb000149ca
It is working in MS EDGE but it crash Chromium(http://chromium.woolyss.com/)

[2016-08-30 07:57] #286 closed

[2016-08-30 08:41] mangui commented on #619
nice work, congrats @xlazom00 !

[2016-08-30 13:16] uldza commented on #638
This happens also when the stream in Wowza Streaming Engine is not correctly configured. When requestiong such playlist from hls.js  example you get back playlist containing only:

[code]

And  hls.js fails (here)[https://github.com/dailymotion/hls.js/blob/master/src/loader/playlist-loader.js#L365] since there is no `levels`.

Will try to implement fix.

[2016-08-30 13:22] simonemazzoni commented on #638
It is exactly what I thought when the error happened.
I tried to revert the version to 0.5.44 and it works just fine (I get a `MANIFEST_PARSING_ERROR ` that I can listen to, for example, force source reload).

I'll wait for the fix.
Thanks

[2016-08-30 15:57] mangui commented on #578
reviewed and tested working fine

[2016-08-30 15:57] #578 closed

[2016-08-30 17:13] mangui commented on #633
Hi @alexborisyuk I digged a little a bit and found out that
yuicompressor is complaining about reserved keywords usage, because its parser (Rhino) is not ES5 compliant yet.
refer to https://github.com/yui/yuicompressor/issues/98
looks like a yuicompressor issue
I would suggest you to use another minifier.

[2016-08-30 17:13] #633 closed

[2016-08-30 17:15] mangui commented on #632
IMHO this is a player / UI issue : you need to maintain a keyframe position map and only allow seeking to nearest.

[2016-08-30 17:17] mangui commented on #640
Hi @h-kaseya have you try to configure [maxMaxBufferLength](https://github.com/dailymotion/hls.js/blob/master/API.md#maxmaxbufferlength) ?
this should do the trick to limit max audio buffer length.

[2016-08-30 17:30] mangui commented on #643
Hi @sergiojm I tried to reproduce your issue with your stream and maxMaxBufferLength set to 60, I switched audio tracks a couple of times (main to alt .. alt to alt, alt to main) but I was not able to reproduce. audio is as expected and i didn't notice frag loading flapping
could you provide full debug logs from scratch ?

[2016-08-30 17:37] mangui commented on #642
indeed currently End of Stream is triggered when last main fragment has been appended to the sourcebuffer.
when using alt audio, it should be triggered when both last audio and last main fragment have been appended.

[2016-08-30 17:52] sergiojm commented on #642
Also with multiaudio and endOfStream is reached(buffer finished but is still playing) then we are not able to change to alt audio on the first attempt(no audio is produced) even the player is still playing.

[2016-08-30 17:56] sergiojm commented on #643
Don't change the alt audio cause it will issue a reset, only change in the begining. Let it get full(audio buffer) and then it will stop playing going on an infinitive loop between 2 ts. 21...20...21...20.
If we fire Buffer reset(like swtich audio)  it will clean the buffer and the problem is not replicated.
Our approach to patch was to shift the audio buffer array also similar to main.

[2016-08-30 18:10] mangui commented on #643
Ok so u mean starting from alt instead of main with maxMax set to 60 is enough to replicate right ?

[2016-08-30 19:17] roquez commented on #656
I encountered the same problem. Here is an example stream url where the issue happens:
`http://content.uplynk.com/ext/d874124ecca24c88a3c9575e78686acf/10065013.m3u8`

Player is not reacting until all segments are downloaded. Then it starts playing without audio. On Microsoft Edge it doesn't play at all.

[Demo page](http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fcontent.uplynk.com%2Fex

[2016-08-30 20:04] mangui commented on #656
this should be related to these lines
https://github.com/dailymotion/hls.js/blob/master/src/loader/playlist-loader.js#L367-L369
if you remove them it should work fine.
they were introduced in https://github.com/dailymotion/hls.js/commit/c965973e73ae00490eb8692898a49cf7d5bb80cc
to support https://github.com/dailymotion/hls.js/issues/585
basically in case #EXT-X-MEDIA:TYPE=AUDIO is found, with no UR

[2016-08-31 00:14] sergiojm commented on #643
Yes. When the buffer(audio) gets the 60 and not have more space will go to infinitive loop

[2016-08-31 07:43] FeniXenAaaa commented on #656
@mangui Just to clarify, this should be fixed from hls.js side, right?

[2016-08-31 07:50] mangui commented on #656
Yes

[2016-08-31 09:40] h-kaseya commented on #640
Hi @mangui. Thank you for your reply.

I did not configure maxMaxBufferLength, so I tried to configure maxMaxBufferLength.

I set 60 to this value, and then I played, and in 60 seconds, hls.js was stopped.

I tried to play [this m3u8](https://playertest.longtailvideo.com/adaptive/eleph-audio/playlist.m3u8).

[2016-08-31 11:38] mangui commented on #656
plz recheck your streams on demo page, issue should be fixed

[2016-08-31 14:51] FeniXenAaaa commented on #656
@mangui yes, fixed. Thank you very much!

[2016-08-31 14:57] gsouquet opened #659 "loadSource() unexpected behaviour"
Hi, thanks for the amazing work you've done with hls.js, it's very helpful. I've just come across a weirdness, and couldn't find anything in the documentation.
Just wanted to double check that this is the intended behaviour.

I found a workaround by following what is done in the demo page (i.e. creating a new `Hls()` instance everytime I need to change the source).

Thanks,

##### Environment
- [x

[2016-08-31 16:26] roquez commented on #656
Thanks!

[2016-08-31 17:02] mangui commented on #640
Hi @h-kaseya plz recheck on latest demo page, or with hls.js/master, hls.js should not stop playing audio after maxMaxBufferLength position is reached

[2016-08-31 17:03] mangui commented on #643
@sergiojm plz recheck on demo page or with latest hls.js/master, issue should be fixed

[2016-08-31 17:52] glebglushtsov commented on #630
@mangui I see you merged a pull request. In which release we could expect this feature?

[2016-09-01 06:36] #615 closed

[2016-09-01 08:19] TomHetmer opened #661 "HLS.js does not play a specific VoD stream"
##### Environment

- [x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ x] The issue occurs in the latest reference client on http://dailymotion.githu

[2016-09-01 08:30] TomHetmer commented on #661
We have a testing page at http://stream-kavka.cdn77.eu/ ('flussonic' links from the VoD) as well - try the JW player or the last one. Bitmovin plays them fine, so I suppose it should not be a problem with the HLS generation.

[2016-09-01 08:46] h-kaseya commented on #640
I tried to play in demo page, and network error occured.

I'll check tomorrow. please wait more.

[2016-09-01 11:40] sompylasar commented on #265
Something is still broken, the `noParse` option breaks with `ReferenceError: require is not defined` on these lines of my webpack-built app:
[code]
Having an `import Hls from 'hls.js';` in the source code.

[2016-09-01 11:49] sompylasar commented on #265
Disregard what I have written in [the comment above](https://github.com/dailymotion/hls.js/issues/265#issuecomment-244053723), I have forgotten to run `npm install` to update the packages after switching between branches. Looks like it works as expected with `import Hls from 'hls.js';` and `hls.js@0.6.2-2`.

[2016-09-01 15:57] mangui commented on #642
@sergiojm plz recheck http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fmediaspace.streamamg.com%2Fvideoandaudio.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined
issue should be fixed

[2016-09-01 16:00] mangui commented on #638
@simonemazzoni could you plz recheck with latest hls.js/master ?
you should now get a fatal MANIFEST_PARSING_ERROR error fired

[2016-09-01 16:01] mangui commented on #659
Hi @gsouquet you'd better call `hls.destroy()` before calling again `hls.loadSource()`

[2016-09-01 16:07] mangui commented on #655
@aolko hls.js just relies on a standard HTML video element.
you can put any overlay on top of it. but beware of video full screen mode on mobile devices

[2016-09-01 16:19] gsouquet commented on #659
This is what I ended up doing, since this is what have done in the main example.
I was just wondering why we had this behaviour.

Thanks

[2016-09-01 16:23] tjenkinson commented on #655
You should also be able to feed the video into a canvas even if the video element isn't in the dom: http://stackoverflow.com/questions/4429440/html5-display-video-inside-canvas

[BBC's Video Context](https://github.com/bbc/VideoContext) does it.

[2016-09-01 16:35] mangui commented on #654
Hi @danrossi you should now be able to override hls.config.cueHandler  and tweak the expected position as you wish

[2016-09-01 16:42] mangui commented on #647
indeed, this levelLoadError is not triggered as fatal on live streams.
see [here](https://github.com/dailymotion/hls.js/blob/master/src/controller/level-controller.js#L225)

i am wondering whether it would be reasonable to add yet another config option for this case :-/ (i.e. an option that would enable fatal levelLoadingError/levelLoadingTimeOut on live streams)

[2016-09-01 16:52] mangui commented on #639
Hi @iongion that's really weird ... although the logic [here](https://github.com/dailymotion/hls.js/blob/master/src/controller/stream-controller.js#L395-L410) is quite straight-forward
could you share the whole playlist ?

[code]

[2016-09-02 06:09] aolko commented on #655
mhm, another detail, can it be possible without actually adding `<video>` on the page, only `<canvas>`?

[2016-09-02 08:42] radiantmediaplayer commented on #647
I do not think another config option is required. I just wanted to draw attention on the matter to see if anyone had experience on similar use case and to see if a solution already exists. I can use a wrapper around hls.js to best guess when these live cut happen.

[2016-09-02 08:42] #647 closed

[2016-09-02 13:46] OlegTsarenko opened #662 "Twitching in Safari"
##### Environment

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io

[2016-09-02 14:35] h-kaseya commented on #640
I am sorry for re-checking later.

I configured maxMaxBufferLength, and I confirmed the problem was resolved.

Thank you so much!

[2016-09-02 15:02] tjenkinson commented on #265
There is still an issue because browserify isn't renaming the `require` function in the build. Webpack is being a bit smarter than browserify so there isn't an issue but for people using browserify it fails. :/

https://hlsjs.slack.com/archives/general/p1472826440000084

[2016-09-02 15:13] tjenkinson commented on #265
I am seeing 2 options:

1. figure out how to get browserify to rename the `require` functions it generates to something else. This replicates webpacks functionality where it uses `__webpack_require__`.
2. Split the build process into 2 stages. Stage 1 would be to convert each file to es5 with babel and place in `lib`, and inline the webworker code somehow. Then stage 2 would be browserify that cod

[2016-09-02 15:22] shoremark commented on #662
I have seen this also in the logs it looks like. In my case It seems like the time is off by 0.00941427321 and when it seeks even a small amount it makes the stream seem to glitch.

`[Log] [log] > engine state transition from PARSED to IDLE (hls.js, line 11652)
[Log] [log] > playback seems stuck @33865.990407949 (hls.js, line 11652)
[Log] [log] > adjust currentTime from 33865.990407949 to next buf

[2016-09-02 15:32] shoremark commented on #265
Example of a plugin that would have this issue using browserify (linked to in the README.md) https://github.com/streamroot/videojs5-hlsjs-source-handler

[2016-09-02 15:39] tjenkinson commented on #265
I've just been thinking more about this and trying to inline the worker code gets complicated because the worker code itself can require other files.

Essentially we'd want to:

1. Build workers to single js files with all `require`'s removed
2. transform these files to new files which `module.export` a `Blob` with their contents. This means in the main source it would get the `Blob` that could go

[2016-09-02 15:53] tjenkinson commented on #265
The [webpack plugin](https://github.com/webpack/worker-loader/issues/20) basically does the 4 steps I listed above. It will also create asset js files for backwards compatibility if the browser doesn't support `Blob` (i.e `new Worker("/worker.js")`), but it could be tweaked pretty easily to prevent this (https://github.com/webpack/worker-loader/issues/20).

[2016-09-02 22:22] tjenkinson commented on #265
So after spending more time looking at this there is an issue with what I suggested in that all the demuxer code would be duplicated in the build. `webworkify` passes a copy of the function source, the code for all the modules it requires, and an the `require` implementation into the worker at runtime, so everything only appears once in the build it creates.

Therefore maybe the best option is fig

[2016-09-02 22:32] tjenkinson commented on #265
https://github.com/dailymotion/hls.js/pull/663

[2016-09-03 09:38] muxto opened #664 "How to limit buffer of already played video?"
Hello!

I have a live-mode video with updating playlist.
I want to limit buffer of already played video to few seconds, 1 minute for example.

This will allow to clear memory and to do the endless broadcast with one-minute-time-shift.

How can I do this?

[2016-09-03 10:00] blacktrash commented on #664
You mean: limit the 'back buffer'?
Different scenario, but maybe something along the lines of this https://github.com/dailymotion/hls.js/issues/535#issuecomment-229708364 may worth a try.

[2016-09-04 02:28] Viqsi commented on #525
@blacktrash - You mention that the issue isn't present on Mac, but that's not my experience, at least with Opera - attempting to load that demo in Opera Beta 40.0.2308.26 on my 10.11.6 laptop gets me the same error zerefel described. (Indeed, I've never been able to get hls.js to work with any stream I've tried in Opera or Vivaldi.)

The video loads fine, however, on Chrome 53.0.2785.89 and Firefo

[2016-09-04 03:16] sompylasar commented on #525
@Viqsi Neither Opera (Chromium-based) nor Chromium aren't able to play the MSE-based streams because they claim to support the needed codec (`Hls.isSupported()` evaluates to `true`) but in fact they don't.

[2016-09-04 12:10] blacktrash commented on #525
@Viqsi - same with Vivaldi on Mac.
<img width="949" alt="screen shot 2016-09-04 at 1 07 18 pm" src="https://cloud.githubusercontent.com/assets/168338/18230881/abdc28ae-72a0-11e6-8098-f57bd2e5c693.png">

[2016-09-04 18:38] Viqsi commented on #525
@blacktrash That's really rather bizarre. This is what I get (this time using a fresh profile on Opera stable):
![screen shot 2016-09-04 at 14 26 44](https://cloud.githubusercontent.com/assets/6570923/18233143/251c175e-72ad-11e6-88ae-2d6e594672b5.png)

[2016-09-04 19:37] webglider commented on #240
Not able to bundle code which has:
`var Hls = require('hls.js').default`

When trying to bundle Browserify throws:

    at /usr/local/lib/node_modules/browserify/node_modules/resolve/lib/async.js:55:21
    at load (/usr/local/lib/node_modules/browserify/node_modules/resolve/lib/async.js:69:43)
    at onex (/usr/local/lib/node_modules/browserify/node_modules/resolve/lib/async.js:92:31)
    at /usr/

[2016-09-04 19:38] tjenkinson commented on #240
This is fixed with https://github.com/dailymotion/hls.js/pull/663#issuecomment-244502850

[2016-09-04 19:48] webglider commented on #240
@tjenkinson That's great, waiting for a merge.

[2016-09-04 21:48] blacktrash commented on #525
@Viqsi - weird; according to https://developer.mozilla.org/en-US/docs/Web/API/MediaSource#Browser_compatibility MSE is supported since version 15 ...
What gives `MediaSource` or `Hls.isSupported()` in the console?

[2016-09-05 03:49] danrossi commented on #654
So this is hardcoding a position ?

https://github.com/dailymotion/hls.js/blob/master/src/utils/cues.js#L54

It is sitting halfway up the video and not entirely left maybe 50 pixels in.

If it has a hard coded position setting then it can't be changed with css ?

[2016-09-05 05:08] danrossi commented on #654
The line config is making it sit 200 pixels from the bottom or even more. The align left is fine. The position config is how far in which is hardcoded to 100. I'll try and remove these and see if I can do it with CSS. If I set line to 1 it sits up the top where it needs to go but is still about 20 pixels in.

Close if necessary.

[2016-09-05 05:43] danrossi commented on #654
I'm finding native cues very bad to represent. Pretty sloppy. The css cant position, and so it needs to be hardcoded in code. I believe Dash.js has an option to render to a div. That is what I will do so it can be uniform with other formats like Flash fallbacks.

[2016-09-05 07:56] ZorroGFS commented on #596
![2016-09-05 10 25 53](https://cloud.githubusercontent.com/assets/3677081/18240817/9961643a-7356-11e6-95e8-0628da1194d0.png)
Looks like we have same issue.
Issue is on low bitrate streams only, HD streams shows ok.

http://212.0.217.42/live/disk1/Prime/SA/Prime.m3u8
http://212.0.217.42/live/disk1/PrimeHD/SA/PrimeHD.m3u8
HLS links are geo locked to our region, thus if you need it for investigation,

[2016-09-05 08:09] sompylasar commented on #525
@blacktrash The MSE **is claimed to be supported**, and canPlayType returns something valid like "probably" or "maybe", http://html5.komplett.cc/code/chap_video/js_canPlayType.html **but** the actual playback gives MEDIA_ERR_DECODE because at low level there is no appropriate decoder bundled with Opera and Chromium (Chrome has it).

[2016-09-05 09:42] sergiojm commented on #642
Not fixed... problem still there

[2016-09-05 10:02] #640 closed

[2016-09-05 10:28] #656 closed

[2016-09-05 10:29] #617 closed

[2016-09-05 10:29] #49 closed

[2016-09-05 10:30] #533 closed

[2016-09-05 10:31] mangui commented on #539
not reproducible anymore

[2016-09-05 10:31] #539 closed

[2016-09-05 10:32] #620 closed

[2016-09-05 10:34] #589 closed

[2016-09-05 10:36] mangui commented on #573
Hi @TV5Dev unfortunately #EXT-X-MEDIA-SEQUENCE is not trustable when switching to redundant or other renditions. HLS spec says that only audio/video timestamps should be used to sync samples between playlists.

[2016-09-05 10:37] #573 closed

[2016-09-05 10:37] mangui commented on #638
fixed

[2016-09-05 10:37] #638 closed

[2016-09-05 10:39] mangui commented on #337
playlist is down, closing.
feel free to reopen if this issue is still reproducible

[2016-09-05 10:39] #337 closed

[2016-09-05 11:15] mangui commented on #662
indeed, it is related/duplicate with #9
Safari support is still broken.
I would need f2f discussion with an Apple engineer to understand what is going on.
closing this one, follow up to be done in #9

[2016-09-05 11:15] #662 closed

[2016-09-05 11:25] blacktrash commented on #525
@sompylasar - yes, that's what I found last time I tried Chromium a while ago (also on Mac).
For some reason though Opera and Vivaldi work fine on Mac ... for me at least.

[2016-09-05 11:40] blacktrash commented on #642
@sergiojm - fwiw, you may run into similar problems on iOS devices with generic playback with this stream: In Mac OS desktop Safari in a plain video tag, replay just about works; but for instance in QuickTime player it doesn't.
May be caused by AAC padding/priming not being reflected enough in PTS.

[2016-09-05 11:50] mangui commented on #661
@TomHetmer should be fixed now
plz recheck http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fwowza2-kavka.cdn77.eu%3A81%2Fvod%2F22_JJhcKf_576p.mp4%2Findex.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined

[2016-09-05 11:56] Viqsi commented on #525
Hm. @blacktrash - maybe you've got some other decoder installed that it's using instead? (If so, I would appreciate knowing what so I could add it myself 😃  )
Vivaldi's supposed to have such a decoder bundled, from what I understand.

Oh, and nothing untoward or unexpected seems to be happening with `MediaSource` or `Hls.isSupported()`:
![screen shot 2016-09-05 at 07 52 42](https://cloud.githubuse

[2016-09-05 12:00] TomHetmer commented on #661
Awesome! Works fine, thanks.

[2016-09-05 12:00] #661 closed

[2016-09-05 12:18] blacktrash commented on #525
@Viqsi - both Opera and Vivaldi are stock downloads and installs here, nothing added - I wouldn't even know how to add a decoder to a browser. I mainly use them to test 'normal use cases'. Either I'm a unique false positive, or Mac OS 10.10 behaves better than 10.11, or ...

[2016-09-05 12:22] ronag opened #666 "0.6.2-5 regression"
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [x] The issue occurs in the latest reference client on http://dailymotion.github.io/hls.js/demo and no

[2016-09-05 12:59] mangui commented on #666
Hi @ronag
indeed [using v0.6.2-5](http://streambox.fr/mse/hls.js-0.6.2-5/demo/?src=http%3A%2F%2Fstreambox.fr%2Fplaylists%2Fcisq0gim60007xzvi505emlxx.m3u8&enableStreaming=true&autoRecoverError=false&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined) it fails at 5s

it now works fine on [master](http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fstreambox.fr%2Fplaylists%2Fcisq0gi

[2016-09-05 13:22] mangui commented on #653
Hi @redoPop I tried several times on private tabs but I was not able to reproduce
I think it could have been fixed by https://github.com/dailymotion/hls.js/commit/83986560124adfe0c1eaab55bdb029539a87344f
could you recheck and let me know if you still see the issue ?

[2016-09-05 13:24] mangui commented on #652
Hi @yunbj I can't find any clue in the logs, I would need a stream to understand what is going on.
could share one ?
thx

[2016-09-05 13:45] ronag commented on #666
Works with master.

[2016-09-05 13:45] #666 closed

[2016-09-05 14:07] mangui commented on #644
it works on latest stable release [v0.5.46](http://streambox.fr/mse/hls.js-0.5.46/demo/?src=http%3A%2F%2Fabcvod.abcnews.com%2Fi%2Fabcnews%2F2015%2F07%2F150712_tw_irandeal_1000_%2C500%2C800%2C1200%2C1800%2C2500%2C3200%2C4500%2C.mp4.csmil%2Findex_1_av.m3u8&enableStreaming=true&autoRecoverError=false&enableWorker=false&levelCapping=-1&defaultAudioCodec=undefined)

I would recommend you to use this on

[2016-09-05 15:51] mangui commented on #651
Hi @pac-work plz recheck on http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fpavel.cernohorsky.name%2Fhls_js_err%2F1955020115-909201945-prog_index.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultAudioCodec=undefined
issue should be fixed

[2016-09-05 17:01] Viqsi commented on #525
Well, I just tried a VM installation of Yosemite and it reacted pretty much the same way, so I'm not sure what's going on. 😦
![screen shot 2016-09-05 at 12 57 00](https://cloud.githubusercontent.com/assets/6570923/18254113/9739424c-7368-11e6-9a8c-59687c90d057.png)

(Of course, that's with VirtualBox, whose OSX virtualization support is considered experimental, but we're still getting media errors,

[2016-09-05 18:34] blacktrash commented on #525
hm, QuickTime is rather essential, escpecially in this context, on real Macs; I'd say the real machine has the last word.

[2016-09-05 20:20] saymon9 commented on #558
It happens for me all the time with a slow connection speed. I've attached a long log file.
Hls.version --> "0.6.2-4"

*Due security reasons policy I've placed [URL] instead the real URL on the logs.

[2016-09-05 22:24] Viqsi commented on #525
I guess. The VM **does** play that movie in Safari (without using HLS), so it's not a "this system can't do movies" issue.

[2016-09-05 23:27] omarosman107 opened #667 "chrome tab crashing and lots of 404 errors in console"
##### Environment

- [x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x ] The issue observed is not already reported by searching on Github under https://github.com/dailymotion/hls.js/issues
- [ ] The issue occurs in the latest reference client on http://dailymotion.github.

[2016-09-06 01:35] TV5Dev commented on #573
@mangui , I know this is the case; and am still figuring out the problem with our primary / backup stream.
We are unable to synchronize the EXT-X-MEDIA-SEQUENCE anyway.
Could you please provide a little more information or provide a link to the audio / video timestamps (tags?) to be used in the output (for synchronization). Your help so far is much appreciated.